{% extends 'layout.html' %} 

{% load static %} 


{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/calendar.css' %}" />
{% endblock %} 

{% block title %} Jagrati | Calendar {% endblock %} 

{% block content %}

<nav class="navbar bg-light text-center p-0 m-0">
  <h2 class="w-100 text-center p-2 m-0" style="background-color: #ff8c00">
    Calendar
  </h2>
</nav>

<div class="container">
  <div class="calAndMsgContainer">
    <div class="calendar">
      <div class="calendar__month">
        <div class="cal-month__previous changeMonth">&#60;</div>
        <div class="cal-month__current"></div>
        <div class="cal-month__next changeMonth">&#62;</div>
      </div>
      <div class="calendar__head">
        <div class="cal-head__day">S</div>
        <div class="cal-head__day">M</div>
        <div class="cal-head__day">T</div>
        <div class="cal-head__day">W</div>
        <div class="cal-head__day">T</div>
        <div class="cal-head__day">F</div>
        <div class="cal-head__day">S</div>
      </div>
      <div class="calendar__body"></div>
    </div>
    <div class="scheduleInfo">
      <table class="table eventTable table-bordered">
        
      </table>
      <h3 class="noClassMessage">No Classes Scheduled! Take the day off and relax!</h3>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

<script>
  let date = new Date();
  let todaysDay = date.getDate();
  let todaysMonth = date.getMonth();
  let year = date.getFullYear();
  
  const monthDays = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
  
  let ajaxData = '';

  function ajaxCallCalendar() {
    let fullDate = `${year}-${todaysMonth + 1}-01`;
    $.ajax({
      url: "{% url 'home:ajax_calendar' %}",
      type: "GET",
      data: {
        date: fullDate,
      },
      dataType: "json",
      success: function(data){
        console.log(data);
        ajaxData = data;
        createCalendarDates(data['idxOfFirstDay'], data['noOfDaysInMonth']);
      }
    });
  }
  ajaxCallCalendar();
  
  function createCalendarDates(idxOfFirstDayOfWeek, daysInMonth) {
    htmlDatesDiv.innerHTML = '';
    // fill the dates before 1st of month with blanks
    for (let i = 0; i < idxOfFirstDayOfWeek; i++) {
      let div = document.createElement('div');
      div.className = 'cal-body__day';
      div.innerHTML = '';
      htmlDatesDiv.append(div);
    }
    
    // fill the days of the month
    for (let i = 1; i <= daysInMonth; i++) {
      let div = document.createElement('div');
      div.className = 'cal-body__day';
      if(i === date.getDate() && todaysMonth === date.getMonth() && year === date.getFullYear()) {
        div.className += ' cal-body__day--today cal-body__day--selected';
        getScheduleForTheDay(i);
      }
      div.className += ajaxData[i]['class'];
      div.innerHTML = i;
      htmlDatesDiv.append(div);
    }
    dateClickHandler();
  }
  
  function getScheduleForTheDay(selectedDate){
    // let selectedDate = document.querySelector('.cal-body__day--selected');
    // console.log(selectedDate)
    // if(selectedDate != null) {
    //   selectedDate = selectedDate.innerHTML;
    // }
    // console.log(selectedDate)
    var flag = 1;
    if(ajaxData[selectedDate]['subject'] !== 'none'){
      flag = 0;
      document.querySelector('.noClassMessage').style.display = 'none';
      let table = document.querySelector('.eventTable');
      table.style.display = 'table';
      table.innerHTML = `
      <tr>
        <th>Subject</th>
        <th>Class</th>
      </tr>
      <tr>
        <td>${ajaxData[selectedDate]['subject']}</td>
        <td>${ajaxData[selectedDate]['section']}</td>
      </tr>
      `;
    }

    if(flag === 1) {
      document.querySelector('.noClassMessage').style.display = 'block';
      document.querySelector('.eventTable').style.display = 'none';
      flag = 0;
    }
  }

  const htmlDatesDiv = document.querySelector('.calendar__body');
  const htmlChangeMonth = document.querySelectorAll('.changeMonth');
  const htmlCurrMonthYear = document.querySelector(".cal-month__current");
  htmlCurrMonthYear.innerHTML = `${monthDays[todaysMonth]} ${year}`;

  // handle changing the month of calendar
  for(const changeMonthBtn of htmlChangeMonth){    
    changeMonthBtn.addEventListener('click', function(e) {
      if (e.target.classList.contains('cal-month__next')) {
        if (todaysMonth === 11) {
          todaysMonth = 0;
          year++;
        } else {
          todaysMonth++;
        }
      } else if (e.target.classList.contains('cal-month__previous')) {
        if (todaysMonth === 0) {
          todaysMonth = 11;
          year--;
        } else {
          todaysMonth--;
        }
      }
      
      htmlCurrMonthYear.innerHTML = `${monthDays[todaysMonth]} ${year}`;
      ajaxCallCalendar();
    });
  }

  // handle changing the day of calendar
  function dateClickHandler() {
    let htmlDayButton = document.querySelectorAll('.cal-body__day');
    for(const dayBtn of htmlDayButton) {
      dayBtn.addEventListener('click', function(e) {
        // select the clicked date and change the color of the day button
        for(const dayBtn of htmlDayButton) {
          dayBtn.classList.remove('cal-body__day--selected');
        }
        e.target.classList.add('cal-body__day--selected');
        getScheduleForTheDay(e.target.innerHTML);
      });
    }
  }
</script>

{% endblock %}
