{% extends 'layout.html' %} {% load static %} {% block title %} Jagrati |
Volunteer Leaderboard {% endblock %} {% block content %}
<nav class="navbar bg-light text-center p-0 m-0">
  <h2 class="w-100 text-center p-2 m-0" style="background-color: #ff8c00">
    Calendar
  </h2>
</nav>

<div class="container">
  <div class="d-flex flex-column justify-content-center text-center">
    <div class="calendar">
      <div class="calendar__month">
        <div class="cal-month__previous changeMonth">&#60;</div>
        <div class="cal-month__current"></div>
        <div class="cal-month__next changeMonth">&#62;</div>
      </div>
      <div class="calendar__head">
        <div class="cal-head__day">S</div>
        <div class="cal-head__day">M</div>
        <div class="cal-head__day">T</div>
        <div class="cal-head__day">W</div>
        <div class="cal-head__day">T</div>
        <div class="cal-head__day">F</div>
        <div class="cal-head__day">S</div>
      </div>
      <div class="calendar__body"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block style %}
<style>
  .calendar {
    width: 350px;
    margin: 50px auto 0;
    border: 2px solid #ff8c00;
    border-radius: 5px;
  }

  .calendar__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0px;
  }

  .calendar__month {
    font-size: 20px;
    font-weight: 800;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .cal-month__previous,
  .cal-month__next {
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    user-select: none;
    margin: 0 5px;
  }

  .cal-month__previous:hover,
  .cal-month__next:hover {
    background-color: #ff8c00;
    border-radius: 50%;
    color: #111;
  }

  .cal-head__day,
  .cal-body__day {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .cal-head__day {
    padding: 5px 0;
    font-weight: 800;
  }

  .cal-body__week,
  .calendar__head {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .calendar__head {
    line-height: 50px;
    border-bottom: 2px solid #ff8c00;
  }

  .cal-body__day {
    color: #111;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }

  .cal-day__month--current {
    color: #111;
  }

  .cal-body__day--today {
    font-weight: 800;
    color: #ff8c00;
  }

  .cal-body__day--selected {
    background-color: #ff8c00;
    font-weight: 800;
    border-radius: 50%;
    color: #111;
  }
</style>
{% endblock %} 

{% block scripts %}

<script>
  
  let date = new Date();
  let todaysDay = date.getDate();
  let todaysMonth = date.getMonth();
  let todaysWeekDay = date.getDay();
  let year = date.getFullYear();

  const monthDays = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
  ];
  
  function daysInMonth(month, year) {
    return new Date(year, month + 1, 0).getDate();
  }

  function getFirstDayInMonth(month, year) {
    return new Date(year, month).getDay();
  }
  
  function createElement(n, d) {
    for (let i = 0; i < n; i++) {
        let div = document.createElement('div');
        div.className = 'cal-body__day';
        div.innerHTML = '';
        htmlDatesDiv.append(div);
    }
    for (let i = 1; i <= d; i++) {
        let div = document.createElement('div');
        div.className = 'cal-body__day';
        if(i === todaysDay) {
          div.className += ' cal-body__day--today cal-body__day--selected';
        }
        div.innerHTML = i;
        htmlDatesDiv.append(div);
      }
  }
  
  const htmlDatesDiv = document.querySelector('.calendar__body');
  const htmlChangeMonth = document.querySelector('.changeMonth');
  const htmlCurrMonthYear = document.querySelector(".cal-month__current");
  htmlCurrMonthYear.innerHTML = `${monthDays[todaysMonth]} ${year}`;
  
  let howManyDaysInMonth = daysInMonth(todaysMonth, year);
  let numWeek = getFirstDayInMonth(todaysMonth, year);  // Day on 1st of selected month (0-6)
  createElement(numWeek, howManyDaysInMonth);

  htmlChangeMonth.addEventListener('click', (e) => {  
    if (e.target.classList.contains('cal-month__previous')) {
      if (todaysMonth === 0) {
        todaysMonth = 11;
        year--;
      } else {
        todaysMonth--;
      }
    } else if(e.target.classList.contains('cal-month__next')) {  // BUG: not executing
      if (todaysMonth === 11) {
        todaysMonth = 0;
        year++;
      } else {
        todaysMonth++;
      }
    }
    htmlDatesDiv.innerHTML = '';
    howManyDaysInMonth = daysInMonth(todaysMonth, year);
    numWeek = getFirstDayInMonth(todaysMonth, year);  // Day on 1st of selected month (0-6)
    createElement(numWeek, howManyDaysInMonth);
    htmlCurrMonthYear.innerHTML = `${monthDays[todaysMonth]} ${year}`;
  });

</script>

{% endblock %}
