{% extends 'layout.html' %}

{% load static %}

{% block title %} Jagrati Captures &#10084; {% endblock %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
    crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css"
    integrity="sha512-ZKX+BvQihRJPA8CROKBhDNvoc2aDMOdAlcm7TUQY+35XYtrd3yh95QOOhsPDQY9QnKE0Wqag9y38OIgEvb88cA=="
    crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style type="text/css">
    body {
        background-color: #f7f3e9;
    }
    ::-webkit-scrollbar {
	width: 7px;
  }

  ::-webkit-scrollbar-thumb {
	border-radius: 50px;
	/* background: #70707050; */
	background: #ff8c00	;
  }

  ::-webkit-scrollbar-thumb:hover {
	/* background: var(--theme-dark-color-0); */
	/* background: #666; */
  } 

  #scrollToTopButton{
      position: fixed;
      bottom: 15px;
      right: 10px;
      font-size: 25px;
      z-index: 99;
      width: 50px;
      height: 50px;
      background-color: #ff8c00;
      color: white;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 6px;
	  border-radius: 50%;
      display: none;
  }
  #scrollToTopButton:hover {
	background-color: #D3D3D3;
}
.fa-angle-double-up {
	font-weight: bolder;
}
  
</style>
{% endblock %}

{% block content %}
<div class="my-5">
    <div class="container">
        <div class="mb-1">
            <h1 data-aos="fade-up" class="text-center font-weight-bold">CAPTURES
                <i class="fas fa-heart" style="color: red"></i>
            </h1>
        </div>
        <section class="mt-1">
            <h2 data-aos="fade-right" class="text-left py-4">Event 1</h2>
            <div class="row photos">
                <div data-aos="zoom-in" class="col-lg-4 col-md-4 col-sm-6">
                    <a href='{% static "home/images/01.jpg" %}' data-lightbox="photos">
                        <img class="img-fluid mb-3" src='{% static "home/images/01.jpg" %}'>
                    </a>
                </div>
                <div data-aos="zoom-in" class="col-lg-4 col-md-4 col-sm-6">
                    <a href='{% static "home/images/01.jpg" %}' data-lightbox="photos">
                        <img class="img-fluid mb-3" src='{% static "home/images/01.jpg" %}'>
                    </a>
                </div>
                <div data-aos="zoom-in" class="col-lg-4 col-md-4 col-sm-6">
                    <a href='{% static "home/images/01.jpg" %}' data-lightbox="photos">
                        <img class="img-fluid mb-3" src='{% static "home/images/01.jpg" %}'>
                    </a>
                </div>
                <div data-aos="zoom-in" class="col-lg-4 col-md-4 col-sm-6">
                    <a href='{% static "home/images/01.jpg" %}' data-lightbox="photos">
                        <img class="img-fluid mb-3" src='{% static "home/images/01.jpg" %}'>
                    </a>
                </div>
                <div data-aos="zoom-in" class="col-lg-4 col-md-4 col-sm-6">
                    <a href='{% static "home/images/01.jpg" %}' data-lightbox="photos">
                        <img class="img-fluid mb-3" src='{% static "home/images/01.jpg" %}'>
                    </a>
                </div>
            </div>
        </section>
        <section class="mt-1">
            <h2 data-aos="fade-right" class="text-left py-4">Event 2</h2>
            <div class="row photos">
                <div data-aos="zoom-in" class="col-lg-4 col-md-4 col-sm-6">
                    <a href='{% static "home/images/02.jpg" %}' data-lightbox="photos">
                        <img class="img-fluid mb-3" src='{% static "home/images/02.jpg" %}'>
                    </a>
                </div>
                <div data-aos="zoom-in" class="col-lg-4 col-md-4 col-sm-6">
                    <a href='{% static "home/images/02.jpg" %}' data-lightbox="photos">
                        <img class="img-fluid mb-3" src='{% static "home/images/02.jpg" %}'>
                    </a>
                </div>
                <div data-aos="zoom-in" class="col-lg-4 col-md-4 col-sm-6">
                    <a href='{% static "home/images/02.jpg" %}' data-lightbox="photos">
                        <img class="img-fluid mb-3" src='{% static "home/images/02.jpg" %}'>
                    </a>
                </div>
                <div data-aos="zoom-in" class="col-lg-4 col-md-4 col-sm-6">
                    <a href='{% static "home/images/02.jpg" %}' data-lightbox="photos">
                        <img class="img-fluid mb-3" src='{% static "home/images/02.jpg" %}'>
                    </a>
                </div>
                <div data-aos="zoom-in" class="col-lg-4 col-md-4 col-sm-6">
                    <a href='{% static "home/images/02.jpg" %}' data-lightbox="photos">
                        <img class="img-fluid mb-3" src='{% static "home/images/02.jpg" %}'>
                    </a>
                </div>
            </div>
        </section>
        <section class="mt-1">
            <h2 data-aos="fade-right" class="text-left py-4">Event 3</h2>
            <div class="row photos">
                <div data-aos="zoom-in" class="col-lg-4 col-md-4 col-sm-6">
                    <a href='{% static "home/images/03.jpg" %}' data-lightbox="photos">
                        <img class="img-fluid mb-3" src='{% static "home/images/03.jpg" %}'>
                    </a>
                </div>
                <div data-aos="zoom-in" class="col-lg-4 col-md-4 col-sm-6">
                    <a href='{% static "home/images/03.jpg" %}' data-lightbox="photos">
                        <img class="img-fluid mb-3" src='{% static "home/images/03.jpg" %}'>
                    </a>
                </div>
                <div data-aos="zoom-in" class="col-lg-4 col-md-4 col-sm-6">
                    <a href='{% static "home/images/03.jpg" %}' data-lightbox="photos">
                        <img class="img-fluid mb-3" src='{% static "home/images/03.jpg" %}'>
                    </a>
                </div>
                <div data-aos="zoom-in" class="col-lg-4 col-md-4 col-sm-6">
                    <a href='{% static "home/images/03.jpg" %}' data-lightbox="photos">
                        <img class="img-fluid mb-3" src='{% static "home/images/03.jpg" %}'>
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Scroll to top button --->
<button  id="scrollToTopButton" title="Go to top" class="ml-5" >
    <i class="fa fa-angle-double-up" aria-hidden="true" style="color: black;font-weight: bolder;"></i>
</button>



<script type="text/javascript" src='{% static "home/js/script.js" %}' ></script>


{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"
    integrity="sha512-k2GFCTbp9rQU412BStrcD/rlwv1PYec9SNrkbQlo6RZCf75l6KcC3UwDY8H5n5hl4v77IDtIPwOk9Dqjs/mMBQ=="
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
{% endblock %}