<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jagriti | Team</title>
    <link rel="stylesheet" href="myTeam.css">
</head>
<body>
    <div class="mainscreen">

		<!-- Creating top text part -->
		<div class="toppart">
			<div class="subText">
				<h1 style="color: black;">Jagrati</h1>
				<p style="color: black;">🚀 An initiative of IITians !!</p>
			</div>
		</div>

		<!-- Creating form part  -->
		<div class="bottompart">
        <!-- Image Part -->
        <div class="imgpart">
	        <img src="images/logo.jpg" class="subImg" alt="">
        </div>		

			<!-- Form Part -->
			<div class="formpart">
		    <hr>
				<form>
					<h2>Jagrati Promotes Education in Villages</h2>
					<h3>Patrons</h3>
                
                    
                    
<div class="row">
    <div class="column">
      <div class="card">
        <img src="images/man.png" alt="Jane" style="width:100%">
        <div class="container">
          <h4>XYZ-1</h4>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="images/woman.png" alt="Mike" style="width:100%">
        <div class="container">
          <h4>XYZ-2</h4>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="images/woman.png" alt="John" style="width:100%">
        <div class="container">
          <h4>XYZ-4</h4>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <h3>Volunteers</h3>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="images/man.png" alt="Jane" style="width:100%">
        <div class="container">
          <h4>ABC-1</h4>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="images/woman.png" alt="Mike" style="width:100%">
        <div class="container">
          <h4>ABC-2</h4>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="images/woman.png" alt="John" style="width:100%">
        <div class="container">
          <h4>ABC-3</h4>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <h3>Web Team</h3>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="images/man.png" alt="Jane" style="width:100%">
        <div class="container">
          <h4>XYZ-1</h4>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="images/woman.png" alt="Mike" style="width:100%">
        <div class="container">
          <h4>XYZ-2</h4>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="images/woman.png" alt="John" style="width:100%">
        <div class="container">
          <h4>XYZ-3</h4>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <h3>Open Source Contributors</h3>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="images/man.png" alt="Jane" style="width:100%">
        <div class="container">
          <h4>ABC-1</h4>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="images/woman.png" alt="Mike" style="width:100%">
        <div class="container">
          <h4>ABC-2</h4>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="images/woman.png" alt="John" style="width:100%">
        <div class="container">
          <h4>ABC-3</h4>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p class="jss" style="font-size:20px">Made with &#10084;&#65039; by IITians</a></p>
</footer>
				</form>
			</div>
		</div>
	</div>

</body>
</html>