{% extends 'new_base.html' %}

{% load static %}

{% block title %} Jagrati | Home {% endblock %}

{% block style %}

    <link rel="stylesheet" href="{% static 'new_home/home/style.css' %}" type="text/css" />

{% endblock %}



{% block content %}
    
	<!--Header Start--> 
	<section id="header" class=" align-items-center">

	    <div class="container">
	    	<div class="row">
	       		<div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 mt-5 " data-aos="zoom-in" data-aos-offset="400"data-aos-easing="ease-in-sine">
	          		<h1>Welcome to <a style="color:#f17e01;" class="magica" >Jagrati</a></h1>
	          		<h2>We are a team of dedicated students, on a path to make this world a better place!</h2>
	          		<a href="#about" class="btn-get-started scrollto">Donate</a>
	        	</div>
	        
	        <div class="col-lg-6 order-1 order-lg-2 header-img" data-aos="zoom-in" data-aos-offset="400"data-aos-easing="ease-in-sine">
	        	<img src="{% static 'home/images/edu.svg' %}" class="img-fluid animated" alt="">
	        </div>
	      </div>
	    </div>

  	</section>
  	<!--Header Ends-->
  
	</br></br></br></br>
  
	<!-- About section starts -->
    <section id="about-us">
        <div class="cntainer">
            <div class="intro" data-aos='fade-up'>
                <h1>About Us</h1>
                <p>You must not lose faith in humanity. Humanity is an ocean; if a few drops of the ocean are dirty, the ocean does not become dirty.</p>
            </div>
            <div class="vision">
                <div data-aos='fade-left' data-aos-delay="300" data-aos-easing='ease-in-cubic' data-aos-duration="500">
                    <img src='{% static "home/images/ill.svg" %}'>
                </div>
                <div data-aos='fade-right'>
                    <h2>VISION</h2>
                    <p>Our vision is to see india one day having no person illiterate and no poverty .We are trying to make good citizens of India.Technological resources for contributing to the economic and social development of the nation at large and region in particular.</p>
                </div>
            </div>
            <div class="clr"></div>
            <div class="mission">
                <div data-aos='fade-right' data-aos-delay="300" data-aos-easing='ease-in' data-aos-duration="500">
                    <img src='{% static "home/images/study.svg" %}'>
                </div>
                <div data-aos='fade-left'>
                    <h2>MISSION</h2>
                    <p>Our mission is to erradicate illiteracy from India We are moving toward our mission by implementing this in IIIT Jabalpur by giving quality and value education to student of nearby villages. Our ultimate goal to extend our helping hand to each and every needy in India and make new India in the comming days.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- About section ends -->

  	
{% endblock %}
