.vol__header {
    top: 70px;
  }
  
  .vol__header .header-img {
    width: 100%;
    height: 280px;
  }
  
  #Vol__Cards a {
    text-decoration: none;
  }
  
  .vol__card img {
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgb(239, 237, 235);
    height: 200px;
    object-fit: cover;
    background-color: rgb(239, 237, 235);
  }
  
  .vol__card {
    background-color: snow;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid rgb(239, 237, 235);
    transition: all 200ms ease-in-out;
    cursor: pointer;
    /* width: 240px;
    height: 360px; */
  }
  
  /* .vol__card:focus,
  .vol__card:hover {
    transition: all 0.35s cubic-bezier(0.14, 0.51, 0, 1);
    box-shadow: 10px 10px 0px 0px rgb(239 112 0 / 10%),
      20px 16px 50px -20px rgb(240 112 0);
  } */
  
  #Vol__Cards .tag {
    padding: 4px 8px;
    border: 1px solid rgb(241, 128, 29);
  
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(241, 128, 29);
  }
  
  #Vol__Cards .name {
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  
  #Vol__Cards p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
    letter-spacing: 1px;
    margin: 0px;
    padding: 2px 0px;
  }
  
  .card__details {
    padding: 16px 8px 8px 8px;
  }
  
  @media screen and (max-width: 576px) {
    #Vol__Cards > .row {
      max-width: 255px;
    }
  }
  