.student__header {
  top: 70px;
}

.student__header .header-img {
  width: 100%;
  height: 280px;
}

#student__cards a {
  text-decoration: none;
}

.student__card img {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgb(239, 237, 235);
  height: 200px;
  object-fit: cover;
  background-color: rgb(239, 237, 235);
}

.student__card {
  background-color: snow;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid rgb(239, 237, 235);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

#student__cards .tag {
  padding: 4px 8px;
  border: 1px solid rgb(241, 128, 29);

  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: rgb(241, 128, 29);
}

#student__cards .name {
  font-size: 16px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 8px;
}

#student__cards p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
  letter-spacing: 1px;
  margin: 0px;
  padding: 2px 0px;
}

.card__details {
  padding: 8px 8px 8px 8px;
}

@media screen and (max-width: 576px) {
  #student__cards > .row {
    max-width: 255px;
  }
}
  