Django==2.2.13
django-appconf==1.0.4
django-cleanup==5.0.0
django-imagekit==4.0.2
djangorestframework==3.11.0
et-xmlfile==1.0.1
jdcal==1.4.1
openpyxl==3.0.3
pilkit==2.0
Pillow==7.2.0
python-decouple==3.3
pytz==2019.3
six==1.15.0
sqlparse==0.3.1