{% extends 'layout.html' %}

{% block style %}
<style type="text/css">
    .form-signin {
        width: 100%;
        max-width: 450px;
        padding: 15px;
        margin: auto;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .fas {
        font-size: 7em;
        color: #ff8c00;
        margin-bottom: 0.15em;
    }

    .submit-btn {
        background-color: #ff8c00;
        color: #000000;
        border: none;
    }
</style>

{% endblock %}

{% block content %}
<form method="POST" class="form-signin my-5 pt-sm-5 text-center">
    {% csrf_token %}
    <i class="fas fa-unlock-alt"></i>
    <h1 class="h3 mb-3 font-weight-bolder">Change Password</h1>
    <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password"
        required="true">
    <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1"
        required="true">
    <input name="new_password2" class="form-control" placeholder="Confirm password" type="password"
        id="id_new_password2" required="true">

    {% for field in form %}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}

    <button class="submit-btn btn btn-lg btn-block" type="submit">Submit</button>
</form>
{% endblock %}