{% extends 'layout.html' %}
{% load static %}
{% block title %} Jagrati | Password Reset {% endblock %}

{% block style %}
<style type="text/css">
    .form-signin {
        max-width: 450px;
        margin: auto;
        
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 20px;
        border: none;
    }

    .form-signin .form-control:focus {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: 10px;
        border: black;
        background-color:#faf0e3;
        border: 1px solid #ff8c00;
    }

    .fas {
        font-size: 7em;
        color: #ff8c00;
        margin-bottom: 0.15em;
    }

    .submit-btn {
        background-color: #ff8c00;
        color: #000000;
        border: none;
    }
    .submit-btn:hover{
        box-shadow:0 10px 10px 0px #f5c78f;
    }
    .head{
        border-radius: 10px;
        margin-top: 59px;
        box-shadow: 0px 17px 15px 0px #ff8c00;
        border: 1px solid #ff8c00;
    }
    @media screen and (max-width:766px) {
        
        .img{
            display: block;
            visibility: hidden;
        }
        
        
    }
</style>
{% endblock %}

{% block content %}
<div class="container text-center head ">
    <div class="row content ">
        <div class="col-md-6 mb-3 img">
            <img  src="{% static 'new_home/images/forget.svg' %}" class="img-fluid" alt="image"/>
        </div>
        <div class="col-md-6 ">
            <div class="form-signin ">
                <div class="form-control ">
                <i class="fas fa-key"></i>
                <h1 class="d-md-flex font-weight-bolder" style="text-align: center;">Reset password</h1>
            
            <form method="POST" >
                {% csrf_token %}
                <div class="form-group">
                    <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg submit-btn btn-block" type="submit">Reset password</button>
                </div>
            </form>
        </div>
        </div>
        </div>
    </div>
</div>
<br><br>


{% endblock %}
