
{% extends 'layout.html' %}
{% load static %}
{% block title %} Jagrati | Password Reset {% endblock %}

{% block style %}
<style type="text/css">
    .card{
        box-shadow: 0px 17px 20px #ff8c00;
    }
    .card:hover{
        transition: 0.02s;
    }
    .form-signin {
        max-width: 450px;
        margin: auto;
        margin-top: -530px;
        margin-left: 658px;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .form-signin .form-control:focus {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: 10px;
    }

    .fas {
        font-size: 5em;
        color: #ff8c00;
        margin-bottom: 0.15em;
        margin-left: 170px;
    }

    .submit-btn {
        background-color: #ff8c00;
        color: #000000;
        border: none;
        margin-top: 20px;
        border-radius: 10px;
    }
    .submit-btn:hover{
        box-shadow: 5px 15px 35px -6px lightgray ;
    }
    .img{
        width: 580px;
        height: 580px;
    }
</style>
{% endblock %}

{% block content %}

<div class="card" style="width: 1158px; height: 590px;margin-top: 50px;margin-left: 190px;">
    <div class="card-body">
        <div>
            <img src="{% static 'new_home/images/forget.svg' %}" class="img"/>
        </div>
        <br><br>
        <form method="POST" class="form-signin p-0 p-sm-3">
            {% csrf_token %}
            <br>
            <i class="fas fa-key"></i>
            <h1 class="h3 mb-3 font-weight-bolder" style="margin-left: 100px;">Reset password</h1><br>
            <input name="email" class="form-control border shadow" placeholder="Email address" type="email" id="id_email" required="true" style=" background-color:#f5e7d6 ;">
            <button class="btn btn-lg submit-btn btn-block " type="submit">Reset password</button>
        </form>
    </div>
</div>

{% endblock %}