{% extends 'layout.html' %}

{% block style %}
<style>
    #messege {
        font-size: larger;
        padding-top: 2rem;
    }
    #home a{
        background-color: #ff8c00;
        color: black;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 0.5rem;
    }
    #home a:hover, #home a:active {
        background-color:#f89f32;

      }

    .far{
        margin-top: 50%;
        margin:auto;
        color:#ff8c00;
        padding-top: 10rem;
        font-size: 5rem;
      }
</style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex flex-column">
        <i class="far fa-check-circle"></i>
        <p class="m-auto" id="messege">Your password has been successfully updated!</p><br>
        <p class="m-auto" id="home"><a href="{% url 'home:dashboard' %}">Home</a></p>
    </div>
</div>

{% endblock %}