{% extends 'layout.html' %}

{% block title %}
    Password Reset
{% endblock %}

{% block style %}
<style type="text/css">
    .form-signin {
        width: 100%;
        max-width: 450px;
        padding: 15px;
        margin: auto;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .h3{
        text-align: center;
    }
    .fas {
        font-size: 7em;
        color: #ff8c00;
        margin-bottom: 0.15em;
    }
    .btn-submit {
        background: #ff8c00;
    }
</style>

{% endblock %}

{% block content %}

    {% if validlink %}
    <form method="POST" class="form-signin my-5 pt-sm-5 text-center">
        {% csrf_token %}
        <i class="fas fa-key" aria-hidden="true"></i>
        <h1 class="h3 mb-3 font-weight-bolder">Reset Password</h1>
            <!-- <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true"> -->
            <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
            <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            {% endif %}

        <button class="btn btn-lg btn-block btn-submit" type="submit">Reset</button>
    </form>

    {% else %}
    <div class="container pt-3" style="margin-top: 100px;">
        <div class="text-center mt-4 p-0 p-sm-3" style="margin: auto; max-width: 500px;">
            <i class="fa fa-unlink" style="font-size: 7em; color: orange;"></i>
            <h1 class="m-4 font-weight-bolder">Token Expired</h1>
            <p class="m-3">
                The password reset link was invalid, possibly because it has already been used.
                Try <a href="{% url 'accounts:login_signup' %}">signing in</a> with your new credentials or request a new password reset.
            </p>
        </div>
    </div>
    {% endif %}

{% endblock %}