{% extends 'layout.html' %}

{% load static %}

{% block title %} Jagrati | Password Change Done {% endblock %}

{% block style %}
<style>
    #home a{
        background-color: #ff8c00;
        color: black;
        padding: 10px 21px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 1.5rem;
    }
</style>

{% endblock %}
{% block content %}

<div class="container pt-3" style="margin-top: 100px;">
    <div class="text-center mt-4 p-0 p-sm-3" style="margin: auto; max-width: 500px;">
        <img src="{% static 'accounts/icon/tick.gif' %}" alt="Done" style="max-width: 100px;">
        <h1 class="mt-3 font-weight-bolder">Password Changed</h1>
        <p class="mt-3">Your password has been successfully updated. </p>
        <p class="m-auto" id="home"><a href="{% url 'home:dashboard' %}">Home</a></p>
    </div>
</div>

{% endblock %}