{% extends 'layout.html' %}

{% load static %}

{% block title %}
    Password Reset
{% endblock %}

{% block style %}
<style type="text/css">
.btn-primary{
        background-color: #ff8c00  !important;
        color: #000000 !important;
        border:none;
        margin-top: 20px;
        margin-bottom:20px;
        border-radius:20px;
    }
.btn-primary:hover{
    background-color: red !important;
    font-weight:bold;
    color:#fff !important;
}

    
</style>

{% endblock %}

{% block content %}

<div class="container" style="margin-top: 100px;">

    <div class="text-center mt-4 p-0 p-sm-3" style="margin: auto; max-width: 500px;">
        <img class = "mx-auto" src="{% static 'accounts/icon/mail-sent.gif' %}" alt="Email Sent" style="max-width: 200px;">
        <h1 class="mt-2 font-weight-bolder">Reset link sent</h1>
        <p class="m-auto p-2">
            We've emailed you the instructions to reset your password. 
            If the email address entered by you is registered with us, you should receive them shortly. 
            If you don't, please check your spam folder.
        </p>
        
        <a class ="btn btn-primary " href="{% url 'home:index' %}">Return to Home Page</a>
    </div>
</div>

{% endblock %}