{% extends 'layout.html' %}

{% block title %} Jagrati | Password Reset {% endblock %}

{% block style %}
<style type="text/css">
    .form-signin {
        max-width: 450px;
        margin: auto;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .form-signin .form-control:focus {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: 10px;
    }

    .fas {
        font-size: 7em;
        color: #ff8c00;
        margin-bottom: 0.15em;
    }

    .submit-btn {
        background-color: #ff8c00;
        color: #000000;
        border: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="container text-center" style="margin-top: 100px;">
    <form method="POST" class="form-signin p-0 p-sm-3">
        {% csrf_token %}
        <i class="fas fa-key"></i>
        <h1 class="h3 mb-3 font-weight-bolder">Reset password</h1>
        <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
        <button class="btn btn-lg submit-btn btn-block" type="submit">Reset password</button>
    </form>
</div>
{% endblock %}

<!---
    <div class=" container text-center" >
    <div class="row content">
        <div class="col-md-6 mb-3">
            <img  src="{% static 'new_home/images/forget.svg' %}" class="img-fluid img" alt="image"/>
        </div>
            <div class="col-md-6 mb-3" >
            
                <i class="fas fa-key"></i>
                <h1 class="signin-text mb-3 font-weight-bolder" style="text-align: center;">Reset password</h1>
                <form method="POST" >
                    {% csrf_token %}
                    <div class="form-group">
                        <input name="email" class="form-control"  placeholder="Email address" type="email" id="id_email" required="true">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg submit-btn btn-block" type="submit">Reset password</button>
                    </div>
                
            </form>
        </div>
    </div>
</div>
-->