{% extends 'layout.html' %}

{% load static %}

{% block title %} Jagrati | Password Reset {% endblock %}

{% block content %}
<div class="container pt-3" style="margin-top: 100px;">
    <div class="text-center mt-4 p-sm-3" style="margin: auto; max-width: 500px;">
        <img src="{% static 'accounts/icon/tick.gif' %}" alt="tick" style="max-width: 100px;">
        <h2 class="my-3 font-weight-bolder">Password Reset Successful</h2>
        <p> You may go ahead and <a href="{% url 'accounts:login_signup' %}" style="color:#f00">sign in</a>
            now.</p>
    </div>
</div>
{% endblock %}