{% extends 'layout.html' %}

{% load static %}

{% block title %} Jagrati | Change Password {% endblock %}

{% block style %}
<style>
    .home-btn {
        background-color: #ff8c00;
        color: #000000;
        border: none;
        border-radius: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container pt-3" style="margin-top: 100px;">
    <div class="text-center p-0 p-sm-3" style="margin: auto; max-width: 500px;">
        <img src="{% static 'accounts/icon/tick.gif' %}" alt="Done" style="max-width: 100px;">
        <h1 class="mt-3 font-weight-bolder">Password Changed</h1>
        <p class="mt-3">Your password has been successfully updated. </p>
        <a class="home-btn btn px-4 mt-3 mb-5" href="{% url 'home:dashboard' %}">Back to dashboard</a>
    </div>
</div>
{% endblock %}