{% extends 'layout.html' %}

{% load static %}

{% block title %}
    Password Reset
{% endblock %}

{% block style %}
<style type="text/css">
.btn-primary{
        background-color: #ff8c00  !important;
        color: #000000 !important;
        border:none;
        margin-top: 20px;
        margin-bottom:20px;
        border-radius:20px;
    }
.btn-primary:hover{
    background-color: red !important;
    font-weight:bold;
    color:#fff !important;
}
.msg{
    font-size: 15px;
    font-weight:bold;  
}
    
</style>

{% endblock %}

{% block content %}

<div class="container" style="margin-top: 100px;">

    <div class="text-center mt-4 p-0 p-sm-3" style="margin: auto; max-width: 500px;">
        <img class = "mx-auto" src="{% static 'accounts/icon/mail-sent.gif' %}" alt="Email Sent" style="max-width: 200px;">
        <h1 class="mt-2 font-weight-bolder">Check your mail</h1>
        <p class="m-auto p-2">
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
        </p>
        
        <a class ="btn btn-primary " href="{% url 'home:index' %}">Return to Home Page</a>
        <p class="m-auto msg">
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
        </p>
    </div>
</div>

{% endblock %}