{% extends 'layout.html' %}

{% block title %} Jagrati | Add student {% endblock %}

{% block style %}
<style>
    /* .container {
            max-width: 960px;
        } */

    @media screen and (max-width: 576px) {
        .container {
            width: 90vw;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="py-3 mt-3 text-center">
        <h2 class="font-weight-bolder">Add new student</h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8 shadow-lg p-4 p-sm-5 mb-5 bg-white rounded">
            <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input name="first_name" type="text" class="form-control" id="firstName" required />
                        <div class="invalid-feedback">Valid First Name is required.</div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input name="last_name" type="text" class="form-control" id="lastName" required />
                        <div class="invalid-feedback">Valid Last Name is required.</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="gender">Gender</label>
                        <select name="gender" class="custom-select d-block w-100" id="gender" required>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O">Other</option>
                        </select>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="school_class">Class</label>
                        <input name="school_class" type="number" class="form-control" id="school_class" placeholder="8"
                            min="1" max="15" required />
                        <div class="invalid-feedback">Please enter a valid class.</div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="village">Village</label>
                        <select name="village" class="custom-select d-block w-100" id="village" required>
                            {% for village_id, village_name in villages %}
                            <option value="{{ village_id }}">{{ village_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label for="contact_no">Contact No. <span class="text-muted">(Optional)</span></label>
                        <input name="contact_no" type="tel" pattern="[0-9]{10}" class="form-control" id="contact_no" />
                        <div class="invalid-feedback">Valid Contact No. (10 Digits) is required.</div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label for="guardian_name">Guardian Name</label>
                        <input name="guardian_name" type="text" class="form-control" id="guardian_name" required />
                        <div class="invalid-feedback">Valid Guardian Name is required.</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="profileImage">Profile Picture <span class="text-muted">(Optional)</span></label>
                    <input name="profile_image" type="file" id="profileImage" class="form-control-file"
                        onchange="imageValidation()" />
                </div>

                <hr class="mb-4" />
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Script for Form Validation -->
<script type="text/javascript">
    (function () {
        "use strict";
        window.addEventListener(
            "load",
            function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName("needs-validation");

                // Loop over them and prevent submission
                Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener(
                        "submit",
                        function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add("was-validated");
                        },
                        false
                    );
                });
            },
            false
        );
    })();
</script>

<!-- Script for Image Validation -->
<script type="text/javascript">
    function imageValidation() {
        var fileInput = document.getElementById('profileImage');
        var filePath = fileInput.value;
        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
        if (!allowedExtensions.exec(filePath)) {
            alert('Please upload file having extensions .jpeg, .jpg, .png or .gif only.');
            fileInput.value = '';
        }
    }
</script>
{% endblock %}