{% extends 'sidebar.html' %}

{% load static %}

{% block title %} Jagrati | Student Attendance {% endblock %}

{% block content-sidebar %}
<!-- Student Attendance -->
<div class="dash-stu-att col-md-8 col-lg-9 mt-3">
    <a href="" class="d-inline-block mb-2 mb-md-0">&#x27f3; Refresh Page</a>
    <h3 class="text-center">Students Attendance</h3>
    <p class="text-center mt-3"><span class="font-weight-bold">Date: </span>{{ today_date }}</p>

    {% if no_class_today %}
    <p class="text-center text-danger mb-3">No class is scheduled for today.</p>
    {% else %}
    <div class="row justify-content-center mt-5">
        <div class="col-sm-6 mb-2 text-center">
            <div class="row justify-content-center">
                <div class="col mb-4">
                    <select name="selected_class" class="custom-select d-block w-100" id="stu-att-class">
                        <!-- <option value="all">Select Class</option> -->
                        <option value="1-3">Class 1-3</option>
                        <option value="4-5">Class 4-5</option>
                        <option value="1-5">Class 1-5</option>
                        <option value="6-8">Class 6-8</option>
                        <option value="1-8">Class 1-8</option>
                        <option value="9-10">Class 9-10</option>
                        <option value="13-14">Navodaya Wing</option>
                    </select>
                </div>
            </div>
            <input type="text" id="filter-students" class="form-control mb-3 mx-auto" onkeyup="filterStudents()"
                placeholder="Search for names..">
            <table class="table" id="stu-att-table">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Class</th>
                        <th>Mark Present</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stu_att in stu_att_today %}
                    <tr>
                       
                        <td><a href="{% url 'students:profile' stu_att.student.id %}" target ="_blank">{{ stu_att.student.get_full_name }}</a> 
                        </td>
                    

                        {% if stu_att.student.school_class == 13 %}
                        <td>JNV_4</td>
                        {% elif stu_att.student.school_class == 14 %}
                        <td>JNV_5</td>
                        {% else %}
                        <td>{{ stu_att.student.school_class }}</td>
                        {% endif %}

                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" name="attended" value="{{ stu_att.student.id }}"
                                    class="custom-control-input" id="s{{ stu_att.id }}"
                                    onchange="attendance('{{ stu_att.student.id }}', 's{{ stu_att.id }}')"
                                    {% if stu_att.present %}checked{% endif %}>
                                <label class="custom-control-label" for="s{{ stu_att.id }}"></label>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts-sidebar %}
<!-- AJAX for Student Attendance -->
<script>
    function attendance(student_id, checkbox_id) {
        let att_checkbox = document.getElementById(checkbox_id);
        let is_present = att_checkbox.checked;
        console.log(is_present);
        $.ajax({
            url: "{% url 'students:ajax_mark_attendance' %}",
            data: {
                'std_id': student_id,
                'is_present': is_present,
            },
            dataType: 'json',
            success: function (data, status) {
                $('#alert-toast-div > div').html(
                    `<div class="toast" id="alert_toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="500">
                        <div class="toast-body p-2 px-3">
                            <strong class="mr-auto">Attendance updated.</strong>
                            <button type="button" class="ml-3 close" style="margin-top: -3px;" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>`
                )

                $("#alert_toast").toast("show");
                $("#alert_toast").addClass("bg-success");
            },
            error: function (data, status) {
                // Un-toggle the checkbox
                is_present ? att_checkbox.checked = false : att_checkbox.checked = true;
                $('#alert-toast-div > div').html(
                    `<div class="toast" id="alert_toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3500">
                        <div class="toast-body p-2 px-3">
                            <strong class="mr-auto">Something went wrong.</strong>
                            <button type="button" class="ml-3 close" style="margin-top: -3px;" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>`
                )

                $("#alert_toast").toast("show");
                $("#alert_toast").addClass("bg-danger");
            }
        });
    }
</script>

<!-- AJAX for Fetch Students -->
<script>
    // $("#stu-att-class option:selected").removeAttr('selected');
    $("#stu-att-class option:first").attr('selected', 'selected');
    $("#stu-att-class").change(function () {
        let stu_class = $(this).val();

        $.ajax({
            url: "{% url 'students:ajax_fetch_students' %}",
            data: {
                'stu_class': stu_class,
            },
            dataType: 'json',
            success: function (data) {
                let stu_att_table =
                    `<thead>
                        <tr>
                            <th>Student Name</th>
                            <th>Class</th>
                            <th>Mark Present</th>
                        </tr>
                    </thead>
                    <tbody>`;
                let checked = '';

                Object.entries(data).forEach(([key, [stu_att_id, stu_id, name, school_class, present]]) => {
                    const url_mask = "{% url 'students:profile' 14325 %}".replace("14325", stu_id);
                    if (present) checked = 'checked';
                    else checked = '';

                    if (school_class == 13) school_class = "JNV_4"
                    else if (school_class == 14) school_class = "JNV_5"

                    stu_att_table +=
                        `<tr>
                            <td><a href="${url_mask}" target ="_blank">${name}</a></td>
                            <td>${school_class}</td>
                            <td>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" name="attended" value="${stu_id}"
                                        class="custom-control-input" id="s${stu_att_id}" 
                                        onchange="attendance('${stu_id}', 's${stu_att_id}')" ${checked}>
                                    <label class="custom-control-label" for="s${stu_att_id}"></label>
                                </div>
                            </td>
                        </tr>`;
                });

                stu_att_table += '</tbody>';
                $("#stu-att-table").html(stu_att_table);
            }
        });
    });
</script>

<!-- Search Filter for Student Attendance  -->
<script>
    function filterStudents() {
        // Declare variables
        let input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filter-students");
        filter = input.value.toUpperCase();
        table = document.getElementById("stu-att-table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}