{% extends 'layout.html' %} 

{% load static %} 

{% block title %} Jagrati | Students {% endblock %} 

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'students/css/style.css' %}" />
{% endblock %} 

{% block content %}
<div class="student__header">
  <div class="fixed-bg">
    <img src="{% static 'global/images/header.jpg' %}" class="header-img" alt="Header Image">
  </div>
</div>

<!-- Students Profile Cards -->
<div class="d-flex justify-content-center">
  <div class="py-3 mt-3 text-center text-muted border-bottom w-75">
    <h2 class="font-weight-bold" style="font-size:3rem; color:#ff8c00">
        Students
    </h2>
  </div>
</div>

<div id="Vol__Cards" class="container">
  {% if students %}
  <div class="row justify-content-center mb-5 pt-5 mx-auto">
    {% for student in students %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card student__card mb-5">
        <img src="{{ student.get_profile_image_url }}" class="card-img" alt="Profile Image" />
        <div class="card__details">
          <div class="name">{{ student.get_full_name }}</div>
          <p>Class: {{ student.school_class }}</p>
          <p>Village: {{ student.get_village_display }}</p>          
        </div>
        <a class="stretched-link" href="{{ student.get_profile_url }}"></a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="text-center">
    There are no active students.
  </p>
  {% endif %}
</div>
{% endblock %}