{% extends 'layout.html' %}

{% load static %}

{% block title %} Jagrati | Student Profile {% endblock %}

{% block style %}
<style>
    @media screen and (max-width: 600px) {
        .container {
            width: 85vw;
        }
    }
</style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="py-3 mt-3 text-center">
        <h2>
            Student Profile
        </h2>
    </div>

    <div class="row justify-content-center mb-5">
        <div class="col-lg-9 col-xl-8 border rounded shadow px-5 py-4">
            <div class="row justify-content-center">
                <div class="col-md-4 mb-4 align-self-center text-center">
                    <img class="rounded-circle" style="height: 150px; width: 150px;"
                        src="{{ profile.get_profile_image_url }}" alt="profile_image">
                </div>
                <div class="col-md-8 my-3">
                    <div class="row justify-content-center">
                        <div class="col-6 col-lg-4 mb-3 align-self-center">
                            <strong>Name: </strong>
                        </div>
                        <div class="col-6 col-lg-8 mb-3">
                            {{ profile.get_full_name }}
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 col-lg-4 mb-3 align-self-center">
                            <strong>Class: </strong>
                        </div>
                        <div class="col-6 col-lg-8 mb-3">
                            {{ profile.school_class }}
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 col-lg-4 mb-3 align-self-center">
                            <strong>Village: </strong>
                        </div>
                        <div class="col-6 col-lg-8 mb-3">
                            {{ profile.get_village_display }}
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 col-lg-4 mb-3 align-self-center">
                            <strong>Gender: </strong>
                        </div>
                        <div class="col-6 col-lg-8 mb-3">
                            {{ profile.get_gender_display }}
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 col-lg-4 mb-3 align-self-center">
                            <strong>Guardian name: </strong>
                        </div>
                        <div class="col-6 col-lg-8 mb-3">
                            {{ profile.guardian_name}}
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 col-lg-4 mb-3 align-self-center">
                            <strong>Contact No. : </strong>
                        </div>
                        <div class="col-6 col-lg-8 mb-3">
                            {{ profile.contact_no }}
                        </div>
                    </div>

                </div>
            </div>
            <div class="row justify-content-center pt-3">
                <a href="{% url 'students:update_profile' pk=profile.id %}" class="btn btn-info mx-3 my-2">
                    Edit Profile
                </a>
            </div>
        </div>
    </div>
    <div class="pb-3 text-center">
        <h2>
            Student Schedule
        </h2>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-lg-9 col-xl-8 border rounded shadow px-sm-5 py-4">
            <div class="table-responsive">
                <table class="table table-borderless table-hover text-center mb-0">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Section</th>
                            <th>Subject</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sch in stu_schedule %}
                        <tr>
                            <td>{{ sch.get_day_display }}</td>
                            <td>{{ sch.schedule.section.name }}</td>
                            <td>{{ sch.schedule.get_subject_display }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}