{% extends 'layout.html' %}

{% load static %}

{% block title %} Jagrati | Students List {% endblock %}

{% block style %}
<style>
    *,
*::before,
*::after {
    box-sizing: border-box;
}


.navbar {
    background: rgba(255, 140, 0, 0.55);
}

.navbar-brand {
    display:block;
    margin: 0 auto;
}

.search-bar {
    display: flex;
    padding: 10px 10px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


.col-filter, .col-search {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.class, .sortName {
    box-shadow: none;
    border: 1.5px solid #E3E6ED;
    background-color: #F7F8FD;
    letter-spacing: 1px;
    border-radius: .25rem;
    background-color: #fff;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
}

.form-control {
    border-radius: 7px;
    border: 1.5px solid #E3E6ED;
}

input.form-control:focus {
    box-shadow: none;
    border: 1.5px solid #E3E6ED;
    background-color: #F7F8FD;
    letter-spacing: 1px
}


.cards {
    padding: 30px 30px;
    overflow: hidden;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    margin: 10px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

@media(max-width: 990px) {
    .card {
        margin: 20px;
    }
}

.rounded-body {
    height: 100px;
    width: 100px;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-title {
   margin-bottom: .75rem;
}

.h5 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}


</style>
{% endblock %}

{% block content %}

<div class="container">
                    <!-- Search bar -->
                    <div class="row search-bar">
                        {% block filter %}
                        <form class="col-filter col-4 dropdown float-right" method="Post" action="">
                            <select id="selected_sort" class="custom-select d-block w-100" onchange="sort()">
                                <option>--Sort Name By--</option>
                                <option value="asc">Ascending</option>
                                <option value="dsc">Descending</option>
                            </select>
                        </form>
                        <div class="col-filter col-4 dropdown float-right">
                            <select name="selected_class" class="custom-select d-block w-100" onchange="selectClass()">
                                <option>--Select Class--</option>
                                <option value="1">Class 01</option>
                                <option value="2">Class 02</option>
                                <option value="3">Class 03</option>
                                <option value="4">Class 04</option>
                                <option value="5">Class 05</option>
                                <option value="6">Class 06</option>
                                <option value="7">Class 07</option>
                                <option value="8">Class 08</option>
                                <option value="9">Class 09</option>
                                <option value="10">Class 10</option>
                            </select>
                        </div>
                        {% endblock %}
                    <form method="get" action="" class="col-search col-4">
                            <div class="input-group mb-3"> 
                                <input type="text" class="form-control" placeholder="Search by name" name="query" id="query">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                                </div>
                        </form>
                    </div>

                    <!-- List Of Students -->
                    <section id="cards">
                        <div class="row">
                            {% for student in students %}
                            <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                                    <a href="{% url 'students:profile' student.id %}" class="card">
                                        <img src="https://picsum.photos/100/100" alt="..." class="rounded-circle">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <b>{{ student.first_name }} {{ student.last_name }}</b>
                                        </h5>
                                        <p>{{ student.school_class }}</p>
                                    </div>
                                    </a>     
                            </div>
                            {% endfor %}
                        </div>
                    </section>
</div>
{% endblock %}       
        
{% block scripts %}
    <script>
       
    </script> 
{% endblock %}
