{% load static %}

<div class="col-md-4 mb-4 align-self-center text-center">
    <a tabindex="0" class="btn dismissible-popover rounded-circle p-1" role="button" data-toggle="popover" data-content="{% include 'students/update_profile_pic.html' %}" data-html="true">
        {% if profile.profile_image %}
        <img class="rounded-circle" style="height: 150px; width: 150px;"
            src="{{ profile.profile_image.url }}" alt="profile_image">
        {% elif profile.gender == 'M' %}
        <img class="rounded-circle" style="height: 150px; width: 150px;"
            src="{% static 'home/images/man.png' %}" alt="profile_image">
        {% elif profile.gender == 'F' %}
        <img class="rounded-circle" style="height: 150px; width: 150px;"
            src="{% static 'home/images/woman.png' %}" alt="profile_image">
        {% else %}
        <img class="rounded-circle" style="height: 150px; width: 150px;"
            src="{% static 'home/images/man.png' %}" alt="profile_image">
        {% endif %}
    </a>
</div>