{% extends 'layout.html' %}

{% load static %}

{% block title %} Jagrati | Update Student Profile {% endblock %}

{% block style %}
<style>
    @media screen and (max-width: 600px) {
        .container {
            width: 85vw;
        }
    }

    .popover-button {
        width: 100%;
    }

    .popover-button label {
        cursor: pointer;
    }

    .popover-button:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, .075);
    }

    #profile-image-popover {
        position: relative;
    }

    #profile-image-popover:after {
        background-color: rgba(0, 0, 0, .5);
        content: "";
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        z-index: 1;
    }

    #profile-image-popover:hover:after {
        opacity: .65;
    }

    #profile-image-popover .overlay-icon {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        z-index: 3;
    }

    #profile-image-popover:hover .overlay-icon {
        display: block;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="py-3 mt-3 text-center">
        <h2>
            Update Student Profile
        </h2>
    </div>
    <form method="POST" class="needs-validation" id="student-profile-update-form" enctype="multipart/form-data"
        novalidate>
        <div class="row justify-content-center mb-5">
            <div class="col-lg-9 col-xl-8 border rounded shadow px-5 py-4">
                <div class="row justify-content-center">
                    {% csrf_token %}
                    <div class="col-md-4 mb-4 align-self-center text-center">
                        <a tabindex="0" id="profile-image-popover" class="btn rounded-circle p-0 m-1" role="button"
                            data-toggle="popover" style="cursor: pointer;">
                            <img class="rounded-circle" style="height: 150px; width: 150px;"
                                src="{{ profile.get_profile_image_url }}" alt="profile_image">
                            <img src="{% static 'global/icon/camera.svg' %}" alt="camera" class="overlay-icon">
                        </a>

                        <div id="profile-image-popover-content" class="d-none">
                            <div>
                                <a class="btn popover-button" role="button">
                                    <label for="profileImage">
                                        Change Profile Picture <span class="text-muted"></span>
                                    </label>
                                    
                                </a>
                                <a href="{{ profile.get_profile_image_url }}" role="button" class="btn popover-button"
                                    target="_blank">
                                    <label>View Profile Image</label>
                                </a>
                            </div>
                        </div>
                        <input name="profile_image" type="file" id="profileImage" class="form-control-file" style="display: none;"
                                        onchange="imageValidation()">

                        
                    </div>
                    <div class="col-md-8 my-3">
                        <div class="row justify-content-center">
                            <div class="col-6 mb-3 align-self-center">
                                <label for="firstName">First name</label>
                                <input name="first_name" type="text" class="form-control" id="firstName"
                                    value="{{ form.first_name.value }}" required>
                            </div>
                            <div class="invalid-feedback">
                                Valid First Name is required.
                            </div>
                            <div class="col-6 mb-3">
                                <label for="lastName">Last name</label>
                                <input name="last_name" type="text" class="form-control" id="lastName"
                                    value="{{ form.last_name.value }}" required>
                            </div>
                            <div class="invalid-feedback">
                                Valid Last Name is required.
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6 mb-3 align-self-center">
                                <label for="gender">Gender</label>
                                <select name="gender" class="custom-select d-block w-100" id="gender" required>
                                    <option value="M" {% if form.gender.value == "M" %} selected {% endif %}>Male</option>
                                    <option value="F" {% if form.gender.value == "F" %} selected {% endif %}>Female</option>
                                    <option value="O" {% if form.gender.value == "O" %} selected {% endif %}>Other</option>
                                </select>
                            </div>
                            <div class="col-6 mb-3">
                                <label for="schoolClass">Class</label>
                                <input name="school_class" type="number" class="form-control" id="schoolClass"
                                    value="{{ form.school_class.value }}" min="1" max="15" required>
                                <div class="invalid-feedback">
                                    Please enter a valid class.
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6 mb-3 align-self-center">
                                <label for="village">Village</label>
                                <select name="village" class="custom-select d-block w-100" id="village" required>
                                    {% for village_id, village_name in villages %}
                                    <option value="{{ village_id }}" {% if form.village.value == village_id %} selected {% endif %}>
                                        {{ village_name }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid village name.
                                </div>
                            </div>
                            <div class="col-6 mb-3">
                                <label for="contactNo">Contact No.</label>
                                <input name="contact_no" type="tel" pattern="[0-9]{10}" class="form-control"
                                    id="contactNo" value="{{ form.contact_no.value }}">
                                <div class="invalid-feedback">
                                    Please enter valid Contact No. (10 Digits).
                                </div>
                            </div>
                        </div>

                        <div class="row mx-1 mb-1">
                            <label for="guardianName">Guardian name</label>
                            <input name="guardian_name" type="text" class="form-control" id="guardianName"
                                value="{{ form.guardian_name.value }}" required>
                            <div class="invalid-feedback">
                                Please enter a Guardian name.
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mb-3">
                <div class="row justify-content-center mb-3">
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    (function () {
        'use strict'
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation')

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>

<!-- Script for Image Validation and auto-submitting the form-->
<script type="text/javascript">
    function imageValidation() {
        var fileInput = document.getElementById('profileImage');
        var filePath = fileInput.value;
        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
        if (!allowedExtensions.exec(filePath)) {
            alert('Please upload file having extensions .jpeg, .jpg, .png or .gif only.');
            fileInput.value = '';
        }
        else {
            $("#student-profile-update-form").submit();
        }
    }

</script>

<!--Scripts for popover feature-->
<script>
    $(function () {
        // Enables popover #profile-image-popover
        $("[data-toggle=popover]").popover({
            html: true,
            trigger: 'focus',
            sanitize: false,
            placement: 'bottom',
            content: function () {
                return $("#profile-image-popover-content").html();
            }

         }).on("focus", function () {
        $(this).popover("show");
        return $("#profile-image-popover-content").html();
    }).on("focusout", function () {
        var _this = this;
        if (!$(".popover:hover").length) {
            $(this).popover("hide");
            return $("#profile-image-popover-content").html();
        }
        else {
            $('.popover').mouseleave(function() {
                $(_this).popover("hide");
                $(this).off('mouseleave');
                return $("#profile-image-popover-content").html();
            });
        } });
        
        
        $("#profile-image-popover-content").popover({
            html: true,
            trigger: 'focus',
            sanitize: false,
            placement: 'bottom',
            content: function () {
                return $("#profileImage").html();
            }
        });
    });
    
</script>
{% endblock %}