{% extends 'sidebar.html' %}

{% load static %}

{% block title %} Jagrati | Update Student Profile {% endblock %}

{% block content-sidebar %}

<!-- UPDATE PROFILE -->

<div class="dash-update col-md-8 col-lg-9 mt-3">
    <a href="" class="d-inline-block mb-2 mb-md-0">&#x27f3; Refresh Page</a>
    <h3 class="text-center">Update Student Profile</h3>
    <p class="text-center text-danger mb-1 mt-3">{{ update_error }}</p>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST" class="needs-validation" novalidate>
                {% csrf_token %}

                <div class="row justify-content-center">
                    <div class="col-6 col-lg-4 mb-3 align-self-center">
                        <label for="firstName">First name</label>
                    </div>
                    <div class="col-6 col-lg-6 mb-3">
                        <input name="first_name" type="text" class="form-control" id="firstName" value="{{ profile.first_name }}" required>
                    </div>
                        
                    <div class="invalid-feedback">
                        Valid First Name is required.
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-6 col-lg-4 mb-3 align-self-center">
                        <label for="lastName">Last name</label>
                    </div>
                    <div class="col-6 col-lg-6 mb-3">
                        <input name="last_name" type="text" class="form-control" id="lastName" value="{{ profile.last_name }}" required>
                    </div>
                        <div class="invalid-feedback">
                            Valid Last Name is required.
                        </div>
                    </div>
                
                    <div class="row justify-content-center">
						<div class="col-6 col-lg-4 mb-3 align-self-center">
                        <label for="gender">Gender</label>
                        </div>
                        <div class="col-6 col-lg-6 mb-3">
                            <select name="gender" class="custom-select d-block w-100" id="gender" required>
                                <option value="M" {% if  profile.gender == "M" %} selected {% endif %} >Male</option>
                                <option value="F" {% if  profile.gender == "F" %} selected {% endif %} >Female</option>
                                <option value="O" {% if  profile.gender == "O" %} selected {% endif %} >Other</option>
                            </select>
                        </div>
                    </div>

                    <div class="row justify-content-center">
						<div class="col-6 col-lg-4 mb-3 align-self-center">
                        <label for="schoolClass">Class</label>
                        </div>
                        <div class="col-6 col-lg-6 mb-3">
                            <input name="school_class" type="number" class="form-control" id="school_class" value="{{ profile.school_class }}" min="0" max="12" required>
                        </div>
                        <div class="invalid-feedback">
                            Please enter a valid class.
                        </div>
                    </div>

                    <div class="row justify-content-center">
						<div class="col-6 col-lg-4 mb-3 align-self-center">
                        <label for="village">Village</label>
                        </div>
                        <div class="col-6 col-lg-6 mb-3">
                            <input name="village" id="village" class="form-control" required>
                        </div>
                        <div class="invalid-feedback">
                            Please enter a valid village name.
                        </div>
                    </div>

                    <div class="row justify-content-center">
                    <div class="col-6 col-lg-4 mb-3 align-self-center">
                        <label for="contactNo">Contact No.</label>
                    </div>
                    <div class="col-6 col-lg-6 mb-3">
                        <input name="contact_no" type="tel" pattern="[0-9]{10}" class="form-control" id="contactNo" value="{{ profile.contact_no }}">
                    </div>
                    <div class="invalid-feedback">
                        Please enter valid Contact No. (10 Digits) .
                    </div>
                    </div>
                    
                <div class="row justify-content-center">
                    <div class="col-6 col-lg-4 mb-3 align-self-center">
                    <label for="guardianName">Guardian name</label>
                </div>
                    <div class="col-6 col-lg-6 mb-3">
                        <input name="guardian_name" type="text" class="form-control" id="guardian_name" value="{{ profile.guardian_name }}" required>
                    </div>
                        <div class="invalid-feedback">
                            Please enter a guardian name.
                        </div>
                    </div>

                <hr class="mb-4">
                <div class="row justify-content-center mb-4">
                    <div class="col-md-6">
                        <button name="submit" value="update-profile" class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts-sidebar %}
<script type="text/javascript">
    (function () {
        'use strict'
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation')

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>


{% endblock %}