{% extends 'layout.html' %}

{% load static %}

{% block title %} Jagrati | SignUp Successful {% endblock %}

{% block content %}

<div class="container pt-3" style="margin-top: 100px;">
    <div class="text-center mt-4 p-0 p-sm-3" style="margin: auto; max-width: 500px;">
        <img src="{% static 'accounts/icon/tick.gif' %}" alt="Done" style="max-width: 100px;">
        <h1 class="mt-3 font-weight-bolder">Account Authenticated</h1>
        <p class="mt-3">You have successfully Authenticated the user account. </p>
    </div>
</div>

{% endblock %}