{% extends 'base.html' %}

{% load static %}

{% block title %} Jagrati | Login {% endblock %}

{% block style %}

    <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css" />
    <script src="{% static 'accounts/style.js' %}" type="text/javascript" defer></script>
    <link   rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
    crossorigin="anonymous">
    </script>

{% endblock %}

{% block content %}

    {% if signup_error %}
    <div class="container right-panel-active" id="container">
    {% else %}
    <div class="container" id="container">
    {% endif %}
        <div class="form-container sign-up-container">
            <form method="post">
                {% csrf_token %}
                <h1>Create Account</h1>

                <div class="radio-input">
                    <input type="radio" name="desig" id="radio-input1" value="V" checked />
                    <label for="radio-input1" class="radio-input-label1">Volunteer</label>
                    <input type="radio" name="desig" id="radio-input2" value="F" />
                    <label for="radio-input2">Faculty</label>
                </div>
                <input type="email" name="email" placeholder="Email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required />
                <input type="password" name="password1" placeholder="Password" required />
                <input type="password" name="password2" placeholder="Confirm Password" required />
                <span class="form-error"> {{signup_error}} </span>
                <br/>
                <button type='submit' name='submit' value='sign_up'>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form method="post">
                {% csrf_token %}
                <h1>Sign in</h1>
                <br/>
                <span class="form-error"> {{login_error|safe}} </span>
                <div class="row">
                    <div class="col-md-3">
                      <a class="btn btn-outline-dark" href="{% url "social:begin" "google-oauth2" %}?next={{ request.path }}" role="button" style="text-transform:none">
                        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                        Login with Google
                      </a>
                    </div>
                </div>
                <input type="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" name="email" placeholder="Email" required />
                <input type="password" name="password" placeholder="Password" required />
                <a href="{% url 'accounts:password_reset' %}">Forgot your password?</a>
                <button type='submit' name='submit' value='login'>Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <!-- {% if signup_error %}
        <script>document.getElementById('signUp').click();</script>
    {% endif %} -->

{% endblock %}