{% extends 'layout.html' %}

{% block title %} Jagrati | SignUp Successful {% endblock %}

{% block content %}

<div class="container pt-3" style="margin-top: 100px;">
    <div class="text-center mt-4 p-0 p-sm-3" style="margin: auto; max-width: 500px;">
        <i class="far fa-address-card mt-3" style="font-size: 7em; color: orange;"></i>
        <h1 class="mt-2 font-weight-bolder">Profile in Review</h1>
        <p class="mt-3">We have sent your Profile to our Admin for verification. You will recieve an Email Notification once your Profile gets verified by Admin.</p>
    </div>
</div>

{% endblock %}