{% extends 'layout.html' %}

{% load static %}

{% block title %} Jagrati | SignUp Successful {% endblock %}

{% block content %}

    <div class="container pt-3" style="margin-top: 100px;">
        <div class="text-center mt-4 p-0 p-sm-3" style="margin: auto; max-width: 500px;">
            <img src="{% static 'accounts/icon/mail-sent.gif' %}" alt="Email Sent" style="max-width: 200px;">
            <h1 class="mt-2 font-weight-bolder">Account Activation</h1>
            <p class="mt-3">We have sent you an activation link on your email, please click on it to Proceed. </p>
        </div>
    </div>

{% endblock %}