{% extends 'layout.html' %}

{% block title %} Jagrati | Token Expired {% endblock %}

{% block content %}

<div class="container pt-3" style="margin-top: 100px;">
    <div class="text-center mt-4 p-0 p-sm-3" style="margin: auto; max-width: 500px;">
        <i class="fa fa-unlink" style="font-size: 7em; color: orange;"></i>
        <h1 class="m-4 font-weight-bolder">Token Expired</h1>
        <p class="m-3">
            {{msg}} 
            {% if act_token %}
            Try <a href="{% url 'accounts:login_signup' %}">signing in</a> with your credentials.
            {% endif %}
        </p>
    </div>
</div>

{% endblock %}