{% extends 'sidebar.html' %}

{% load static %}

{% block content-sidebar %}

<!-- DASHBOARD -->

<div class="dash-main col-md-8 col-lg-9 mt-3">
	<a href=""  class="d-inline-block mb-2 mb-md-0">&#x27f3; Refresh Dashboard</a>
	<h3 class="text-center mb-3">Dashboard</h3>
	{% if user.auth is True %}
	<form method="POST">
		{% csrf_token %}
		<div class="row justify-content-center">
			<div class="col-md-4 mb-3">
				<label for="class-date">Date</label>
				<!-- <input type="text" class="form-control" id="firstName" placeholder="" value="" required> -->
				<input name="class-info-date" data-date-format="yyyy-mm-dd" id="class-date" class="form-control" required>
			</div>
			<div class="col-md-4 mb-3">
				<label for="class-section">Section</label>
				<select name="class-info-section" class="custom-select d-block w-100" id="class-section" required>
					{% for sec, display in choices %}
						{% if sec == selected_schedule %}
						<option value="{{sec}}" selected>{{display}}</option>
						{% else %}
						<option value="{{sec}}">{{display}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>

			<!-- Hidden Input -->
			<input type="hidden" id="extra-info-1" value="{{ selected_date|date:'Y-m-d' }}">
		</div>
		<div class="row justify-content-center mb-4">
			<div class="col-md-4">
				<button name="submit" value="class-info" class="btn btn-primary btn-lg btn-block" type="submit">Continue</button>
			</div>
		</div>
	</form>
	{% else %}
	<div class="row justify-content-center">
		<div class="col-md-8 mt-5">
			<p class="text-center">You are not yet authorised to view any information on this site.<br> Kindly contact <a href="mailto:2018196@iiitdmj.ac.in">admin</a>.</p>
		</div>
	</div>
	{% endif %}

	{% if not class_info_submitted %}
		{% if no_class_found %}
		<p class="text-center mt-4">The chosen day is not yet updated in the Calendar.</p>
		{% elif no_class_scheduled %}
		<p class="text-center mt-4">No class was scheduled on the chosen day.</p>
		<p class="text-center">{{calendar.remark}}</p>
		{% elif no_schedule_found %}
		<p class="text-center mt-4">The chosen section is not taught on the chosen date.</p>
		{% else %}
		<div class="row justify-content-center mt-4 mx-0">
			<div class="col-md-9 col-lg-5 mr-lg-5 mb-3 border rounded">
				<h4 class="text-center mt-2">ClassWork</h4>
				<hr>
				{% if cw_hw.cw %}
				<p><pre style="overflow-x: auto; white-space: pre-wrap; word-wrap: break-word;">{{cw_hw.cw}}</pre></p>
				{% else %}
				<p><pre>Not yet updated!</pre></p>
				{% endif %}
			</div>
			<div class="col-md-9 col-lg-5 mb-3 border rounded">
				<h4 class="text-center mt-2">HomeWork</h4>
				<hr>
				{% if cw_hw.hw %}
				<p><pre style="overflow-x: auto; white-space: pre-wrap; word-wrap: break-word;">{{cw_hw.hw}}</pre></p>
				{% else %}
				<p><pre>Not yet updated!</pre></p>
				{% endif %}
			</div>
			{% if cw_hw.comment %}
			<div class="col-md-9 col-lg-5 mb-3 border rounded">
				<h4 class="text-center mt-2">Comments</h4>
				<hr>
				<p><pre style="overflow-x: auto; white-space: pre-wrap; word-wrap: break-word;">{{cw_hw.comment}}</pre></p>
			</div>
			{% endif %}
		</div>


		<div class="text-center mt-3">
			<button type="button" class="btn btn-outline-primary" onclick="show_dash_cwhw()"> Update CW-HW </button>
		</div>
		
		<div class="row justify-content-center mt-3 px-3" style="background-color: #f7f7f7;">
			<div class="dash-cwhw d-none col-12">
				<form method="POST">
					{% csrf_token %}
					<p class="text-center text-danger mt-1">{{cwhw_error}}</p>
					<input type="hidden" name="date" value="{{ selected_date|date:'Y-m-d' }}">
					<input type="hidden" name="section" value="{{ selected_schedule }}">
					<div class="row justify-content-center mb-2">
						<div class="col-md-9 col-lg-5 px-0 mr-lg-5 mb-3">
							<textarea name="cw" class="form-control" rows="6" placeholder="Class Work goes here..."></textarea>
						</div>
						<div class="col-md-9 col-lg-5 px-0 mb-3">
							<textarea name="hw" class="form-control" rows="6" placeholder="Home Work goes here..."></textarea>
						</div>
						<div class="col-md-9 col-lg-5 px-0 mb-3">
							<textarea name="comment" class="form-control" rows="6" placeholder="Comments goes here..."></textarea>
						</div>
					</div>
					<div class="row justify-content-center mb-4">
						<div class="col-md-4">
							<button name="submit" value="update-cwhw" class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="row justify-content-center my-4 mx-0">
			<div class="col-md-9 border rounded">
				<h4 class="text-center mt-3">Students Present</h4>
				<hr>
				<p>
					{% if students_attended.count %}
					<p class="mb-1">
						<span class="font-weight-bolder">Total Students Present:</span> {{ students_attended.count }}
					</p>
					<p>
						{% if stu_att_village.stu_att_g %}
						<span class="font-weight-bolder">Gadheri:</span> {{ stu_att_village.stu_att_g }} &nbsp;&nbsp;
						{% endif %}
						{% if stu_att_village.stu_att_ms %}
						<span class="font-weight-bolder">Mehgawan Side:</span> {{ stu_att_village.stu_att_ms }}
						{% endif %}

						{% comment %}
							{% if stu_att_village.stu_att_m %}
							<span class="font-weight-bolder">Mehgawan:</span> {{ stu_att_village.stu_att_m }} &nbsp;&nbsp;
							{% endif %}
							{% if stu_att_village.stu_att_a %}
							<span class="font-weight-bolder">Amanala:</span> {{ stu_att_village.stu_att_a }} &nbsp;&nbsp;
							{% endif %}
							{% if stu_att_village.stu_att_c %}
							<span class="font-weight-bolder">Chanditola:</span> {{ stu_att_village.stu_att_c }} &nbsp;&nbsp;
							{% endif %}
							{% if stu_att_village.stu_att_s %}
							<span class="font-weight-bolder">Suarkol:</span> {{ stu_att_village.stu_att_s }}
							{% endif %}
						{% endcomment %}
					</p>
					<input type="text" id="filter-students-dash" class="form-control mb-3 mx-auto" onkeyup="filterStudentsOnDash()" placeholder="Search for names..">
					<table class="table table-hover" id="stu-att-table-dash">
						<thead>
							<tr class="text-center">
								<th>Name</th>
								<th>Class</th>
							</tr class="text-center">
						</thead>
						<tbody>
							{% for stu_att in students_attended %}
							<tr class="text-center">
								<td class="text-monospace font-weight-lighter">{{stu_att.sid.first_name}} {{stu_att.sid.last_name}}</td>

								{% if stu_att.sid.school_class == 13 %}
									<td class="text-monospace font-weight-lighter">JNV_4</td>
								{% elif stu_att.sid.school_class == 14 %}
									<td class="text-monospace font-weight-lighter">JNV_5</td>
								{% else %}
									<td class="text-monospace font-weight-lighter">{{stu_att.sid.school_class}}</td>
								{% endif %}
								
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% else %}
						<pre>{{students_attended}}</pre>
					{% endif %}
				</p>
			</div>
		</div>

		{% if not volunteer.desig == 'v' %}
		<div class="row justify-content-center my-4 mx-0">
			<div class="col-md-9 border rounded">
				<h4 class="text-center mt-3">Volunteers Present</h4>
				<hr>
				{% if vol_volunteered.count %}
				<input type="text" id="filter-volunteers-dash" class="form-control mb-3 mx-auto" onkeyup="filterVolunteersOnDash()" placeholder="Search for roll no..">
				<table class="table table-hover" id="vol-att-table-dash">
					<thead>
						<tr class="text-center">
							<th>Roll No.</th>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
						{% for vol_att in vol_volunteered %}
						<tr class="text-center">
							<td class="text-monospace font-weight-lighter">{{vol_att.roll_no.roll_no}}</td>
							<td class="text-monospace font-weight-lighter">{{vol_att.roll_no.first_name}} {{vol_att.roll_no.last_name}} {% if vol_att.extra %}(E){% endif %}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
					<pre>{{vol_volunteered}}</pre>
				{% endif %}
			</div>
		</div>
		{% endif %}

		{% endif %}
	{% endif %}
</div>

{% endblock %}

{% block scripts-sidebar %}

<!-- AJAX for Main Dashboard -->

<script>
	$("#class-date").change(function () {
		var class_date = $(this).val();

		$.ajax({
			url: '/ajax/section_dashboard/',
			data: {
				'class_date': class_date
			},
			dataType: 'json',
			success: function (data) {
				var options = '';
				var selected = '';
				for (var i = 0; i < data.schedule.length; i++) {
					var choices_display = data.choices[data.schedule[i]['section']];
					// console.log(data.schedule[i]['section'])

					if(data.schedule[i]['section'] == "{{selected_schedule}}") selected = 'selected';
					else selected = '';
					options += '<option value="' + data.schedule[i]['section'] + '"' + selected + '>' + choices_display + '</option>';
				}
				$("#class-section").html(options);
				// $("#citylist option:first").attr('selected', 'selected');
			}
		});
	});
</script>

<!-- Search Filter for Student Present on Dashboard  -->

<script>
	function filterStudentsOnDash() {
	  // Declare variables
	  let input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("filter-students-dash");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("stu-att-table-dash");
	  tr = table.getElementsByTagName("tr");
	
	  // Loop through all table rows, and hide those who don't match the search query
	  for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[0];
		if (td) {
		  txtValue = td.textContent || td.innerText;
		  if (txtValue.toUpperCase().indexOf(filter) > -1) {
			tr[i].style.display = "";
		  } else {
			tr[i].style.display = "none";
		  }
		}
	  }
	}
</script>

<!-- Search Filter for Volunteers Present on Dashboard  -->

<script>
	function filterVolunteersOnDash() {
	  // Declare variables
	  let input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("filter-volunteers-dash");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("vol-att-table-dash");
	  tr = table.getElementsByTagName("tr");
	
	  // Loop through all table rows, and hide those who don't match the search query
	  for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[0];
		if (td) {
		  txtValue = td.textContent || td.innerText;
		  if (txtValue.toUpperCase().indexOf(filter) > -1) {
			tr[i].style.display = "";
		  } else {
			tr[i].style.display = "none";
		  }
		}
	  }
	}
</script>

<!-- Script for Main Dashboard Date Picker -->
<script type="text/javascript">
	$('#class-date').datepicker({
		weekStart: 1,
		autoclose: true,
		todayHighlight: true,
	});
	if(document.getElementById("extra-info-1").value.length>0)
		$('#class-date').datepicker("setDate", "{{ selected_date|date:'Y-m-d' }}");
	else
		$('#class-date').datepicker("setDate", new Date());
	
</script>

<!-- Script for sidebar buttons -->
<script>
	let dash_main = document.querySelector(".dash-main");
	let dash_cwhw = document.querySelector(".dash-cwhw");

	if("{{cwhw_selected_date}}"){
		show_dash_cwhw();
	}

	function show_dash_main(){
		if(dash_main.classList.contains('d-none')) dash_main.classList.remove('d-none');
		if(dash_sidebar.classList.contains('show')){
			dash_sidebar.classList.remove('show');
			dash_accordion.classList.remove('up');
			dash_accordion.classList.add('down');
		}
	}

	function show_dash_cwhw(){
		if(dash_cwhw.classList.contains('d-none')) dash_cwhw.classList.remove('d-none');
		else if(!dash_cwhw.classList.contains('d-none')) dash_cwhw.classList.add('d-none');   // <--new
	}

</script>

{% endblock %}