{% extends 'layout.html' %}

{% load static %}

{% block style %}
	<style>
		.main{
			min-height: calc(100vh - 54px);   /* So that footer is at the bottom (without scroll) if screen is short*/
		}

		.sidebar {
			position: fixed;
			top: 71.4px;
			bottom: 54px;
			left: 0;
			/* z-index: 100;  */
			/* Behind the navbar */
			/* padding: 28px 0 0; */
			 /* Height of navbar */
			box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
			overflow-y: auto;
		}

		/* .sidebar-sticky { */
			/* position: relative; */
			/* top: 0; */
			/* height: calc(100vh - 48px); */
			/* padding-top: .5rem; */
			/* overflow-x: hidden; */
			/* overflow-y: auto;  */
			/* Scrollable contents if viewport is shorter than content. */
		/* } */

		/* @supports ((position: -webkit-sticky) or (position: sticky)) {
			.sidebar-sticky {
				position: -webkit-sticky;
				position: sticky;
			}
		} */

		/* .sidebar .nav-link {
			font-weight: 500;
			color: #333;
		} */

		/* .sidebar .nav-link.active {
			color: #007bff;
		} */

		.sidebar-heading {
			font-size: .75rem;
			text-transform: uppercase;
		}

		.dash-img{
			width: 100px;
			height: 100px;
		}
		.dash-list li{
			margin: 5px 0;
		}


		@media(max-width: 767px){
			.sidebar{
				position:static;
			}
			.main{
				min-height: 100vh;
			}
		}

	</style>

{% endblock %}

{% block content %}

	<div class="container-fluid">
		<div class="row justify-content-end">
			<nav class="col-md-4 col-lg-3 d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="dash-list nav flex-column text-center">
						<li class="nav-item">
							<img class="dash-img rounded-circle my-3" src='{% static "logo.png" %}' alt="v">
						</li>

						{% if volunteer is not None %}
							<li class="nav-item">
								<h5>Name: <span class="lead"> {{volunteer.first_name}} {{volunteer.last_name}}</span> </h5>
							</li>
							<li class="nav-item">
								<h5>Roll No: <span class="lead">{{volunteer.roll_no}}</span> </h5>
							</li>
						{% endif %}

						<li class="nav-item">
							<h5>Email: <span class="lead">{{user.email}}</span> </h5>
						</li>

						{% if volunteer.desig == 'v' %}
							<li class="nav-item">
								<h5 class="mt-3">Schedule</h5>
							</li>
							{% if vol_schedule is not None %}
								<li class="nav-item">
									<h5>Day: <span class="lead"> {{vol_schedule.day}}</span> </h5>
								</li>
								<li class="nav-item">
									<h5>Section: <span class="lead">{{vol_schedule.schedule.get_section_display}}</span> </h5>
								</li>
								<li class="nav-item">
									<h5>Subject: <span class="lead">{{vol_schedule.schedule.get_subject_display}}</span> </h5>
								</li>
							{% else %}
								<li class="nav-item">
									<h5>Day: <span class="lead"> -- </span> </h5>
								</li>
								<li class="nav-item">
									<h5>Section: <span class="lead"> -- </span> </h5>
								</li>
								<li class="nav-item">
									<h5>Subject: <span class="lead"> -- </span> </h5>
								</li>
							{% endif %}
							{% if user.auth is True %}
							<li class="nav-item">
								<button type="button" class="btn btn-outline-primary mt-3" onclick="show_dash_schedule()">Update Schedule</button>
							</li>
							{% else %}
							<li class="nav-item">
								<button type="button" class="btn btn-outline-primary mt-3" onclick="show_dash_schedule()" disabled>Update Schedule</button>
							</li>
							{% endif %}
						{% else %}
							<li class="nav-item">
								<h5 class="my-5">{{volunteer.get_desig_display}}</h5>
							</li>
							<li class="nav-item">
								<button type="button" class="btn btn-outline-primary" onclick="show_dash_cwhw()"> Update CW-HW </button>
							</li>
							<li class="nav-item">
								<button type="button" class="btn btn-outline-primary" onclick="show_dash_stu_att()"> Student Attendence </button>
							</li>
							<li class="nav-item">
								<button type="button" class="btn btn-outline-primary" onclick="show_dash_vol_att()">Volunteer Attendence </button>
							</li>
						{% endif %}
						<li class="nav-item">
							<button type="button" class="btn btn-outline-primary" onclick="show_dash_update()" > Update Profile </button>
						</li>
					</ul>
				</div>
			</nav>

			<div class="dash-main col-md-8 col-lg-9 mt-3">
				<h3 class="text-center mb-3">Dashboard</h3>
				{% if user.auth is True %}
				<form method="POST">
					{% csrf_token %}
					<div class="row justify-content-center">
						<div class="col-md-4 mb-3">
							<label for="class-date">Date</label>
							<!-- <input type="text" class="form-control" id="firstName" placeholder="" value="" required> -->
							<input name="class-info-date" data-date-format="yyyy-mm-dd" id="class-date" class="form-control" required>
						</div>
						<div class="col-md-4 mb-3">
							<label for="class-section">Section</label>
							<select name="class-info-section" class="custom-select d-block w-100" id="class-section" required>
								{% for sec, display in choices %}
									{% if sec == selected_schedule %}
									<option value="{{sec}}" selected>{{display}}</option>
									{% else %}
									<option value="{{sec}}">{{display}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="row justify-content-center mb-4">
						<div class="col-md-4">
							<button name="submit" value="class-info" class="btn btn-primary btn-lg btn-block" type="submit">Continue</button>
						</div>
					</div>
				</form>
				{% else %}
				<div class="row justify-content-center">
					<div class="col-md-8 mt-5">
						<p class="text-center">You are not yet authorised to view any information on this <br> Kindly contact <a href="mailto:admin@admin.com">admin</a>.</p>
					</div>
				</div>
				{% endif %}

				{% if not class_info_submitted %}
					{% if no_class_found %}
					<p class="text-center mt-4">The chosen day is not yet updated in the Calendar.</p>
					{% elif no_class_scheduled %}
					<p class="text-center mt-4">No class was scheduled on the chosen day.</p>
					<p class="text-center">{{calendar.remark}}</p>
					{% elif no_schedule_found %}
					<p class="text-center mt-4">The chosen section is not taught on the chosen date.</p>
					{% else %}
					<div class="row justify-content-center mt-4">
						<div class="col-md-5 col-lg-4 border rounded">
							<h4 class="text-center mt-2">ClassWork</h4>
							<hr>
							<p><pre>{{cw_hw.cw}}</pre></p>
						</div>
						<div class="col-md-1"></div>
						<div class="col-md-5 col-lg-4 border rounded">
							<h4 class="text-center mt-2">HomeWork</h4>
							<hr>
							<p><pre>{{cw_hw.hw}}</pre></p>
						</div>
					</div>
					<div class="row justify-content-center mt-4">
						<div class="col-md-8 border rounded">
							<h4 class="text-center mt-3">Students Present</h4>
							<hr>
							<p>
								{% if students_attended.count %}
									{% for stu_att in students_attended %}
										<span class="text-monospace font-weight-lighter">{{stu_att.sid.first_name}} {{stu_att.sid.last_name}}</span>
										<br>
									{% endfor %}
								{% else %}
									<pre>{{students_attended}}</pre>
								{% endif %}
							</p>
						</div>
					</div>
						{% if not volunteer.desig == 'v' %}
						<div class="row justify-content-center mt-4">
								<div class="col-md-8 border rounded">
									<h4 class="text-center mt-3">Volunteers Present</h4>
									<hr>
									<p>
										{% if vol_volunteered.count %}
											{% for vol_att in vol_volunteered %}
												<span class="text-monospace font-weight-lighter">{{vol_att.roll_no.first_name}} {{vol_att.roll_no.last_name}}</span>
												<br>
											{% endfor %}
										{% else %}
											<pre>{{vol_volunteered}}</pre>
										{% endif %}
									</p>
								</div>
							</div>
							{% endif %}
					{% endif %}
				{% endif %}
			</div>
			<div class="dash-update d-none col-md-8 col-lg-9 mt-3">
				<a href="" onclick="show_dash_main()">&larr; Back to Dashboard</a>
				<h3 class="text-center">Update Profile</h3>
				<p class="text-center text-danger mb-1 mt-3">{{update_error}}</p>
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<form method="POST">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-6 mb-3">
									<label for="rollNo">Roll No.</label>
									<input name="roll_no" type="number" class="form-control" id="rollNo" placeholder="{{volunteer.roll_no}}" value="">
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-6 mb-3">
									<label for="firstName">First name</label>
									<input name="first_name" type="text" class="form-control" id="firstName" placeholder="{{volunteer.first_name}}" value="">
								</div>
								<div class="col-md-6 mb-3">
									<label for="lastName">Last name</label>
									<input name="last_name" type="text" class="form-control" id="lastName" placeholder="{{volunteer.last_name}}" value="">
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-4 mb-3">
									<label for="gender">Gender</label>
									<select name="gender" class="custom-select d-block w-100" id="gender">
										<option value="M" {% if volunteer.gender == "M" %} selected {% endif %} >Male</option>
										<option value="F" {% if volunteer.gender == "F" %} selected {% endif %} >Female</option>
										<option value="O" {% if volunteer.gender == "O" %} selected {% endif %} >Other</option>
									</select>
								</div>
								<div class="col-md-4 mb-3">
									<label for="batch">Batch</label>
									<select name="batch" class="custom-select d-block w-100" id="batch">
										{% for i in '43210'|make_list %}
											{% if volunteer.batch == last_4_year|add:i %}
											<option value="{{last_4_year|add:i}}" selected>{{last_4_year|add:i}}</option>
											{% else %}
											<option value="{{last_4_year|add:i}}">{{last_4_year|add:i}}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div>
								<div class="col-md-4 mb-3">
									<label for="programme">Programme</label>
									<select name="programme" class="custom-select d-block w-100" id="programme">
										<option value="bt" {% if volunteer.programme == "bt" %} selected {% endif %} >B.Tech</option>
										<option value="mt" {% if volunteer.programme == "mt" %} selected {% endif %} >M.Tech</option>
										<option value="phd" {% if volunteer.programme == "phd" %} selected {% endif %} >phD</option>
										<option value="bd" {% if volunteer.programme == "bd" %} selected {% endif %} >B.Des</option>
										<option value="md" {% if volunteer.programme == "md" %} selected {% endif %} >M.Des</option>
									</select>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-4 mb-3">
									<label for="dob">Date of Birth</label>
									<input name="dob" data-date-format="yyyy-mm-dd" id="dob" class="form-control">
								</div>
								<div class="col-md-8 mb-3">
									<label for="contactNo">Contact No.</label>
									<input name="contact_no" type="number" class="form-control" id="contactNo" placeholder="{{volunteer.contact_no}}" value="">
								</div>
							</div>
						
							<div class="mb-3">
								<label for="altemail">Alternate Email <span class="text-muted">(Optional)</span></label>
								<input name="alt_email" type="email" class="form-control" id="altemail" placeholder="{{volunteer.alt_email}}">
							</div>
						
							<div class="mb-3">
								<label for="address">Address</label>
								<input name="street_address1" type="text" class="form-control" id="address" placeholder="{{volunteer.street_address1}}">
							</div>
						
							<div class="mb-3">
								<label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
								<input name="street_address2" type="text" class="form-control" id="address2" placeholder="{{volunteer.street_address2}}">
							</div>
						
							<div class="row">
								<div class="col-md-5 mb-3">
								<label for="city">City</label>
								<input name="city" type="text" class="form-control" id="city" placeholder="{{volunteer.city}}" value="">
								</div>
								<div class="col-md-4 mb-3">
								<label for="state">State</label>
								<input name="state" type="text" class="form-control" id="state" placeholder="{{volunteer.state}}" value="">
								</div>
								<div class="col-md-3 mb-3">
								<label for="pinCode">PIN Code</label>
								<input name="pincode" type="number" class="form-control" id="pinCode" placeholder="{{volunteer.pincode}}">
								</div>
							</div>
							<hr class="mb-4">
							<div class="row justify-content-center mb-4">
								<div class="col-md-6">
									<button name="submit" value="update-profile" class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="dash-schedule d-none col-md-8 col-lg-9 mt-3">
				<a href="" onclick="show_dash_main()">&larr; Back to Dashboard</a>
				<h3 class="text-center">Update Schedule</h3>
				<p class="text-center text-danger mb-3 mt-3">{{sch_error}}</p>
				<form method="POST">
					{% csrf_token %}
					<div class="row justify-content-center">
						<div class="col-md-4 mb-3">
							<label for="sch-day">Day</label>
							<select name="day" class="custom-select d-block w-100" id="gender">
								{% for j,i in day %}
								<option value="{{j}}">{{i}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-md-4 mb-3">
							<label for="sch-section">Section</label>
							<select name="section" class="custom-select d-block w-100" id="sch-section">
									{% for j,i in section %}
									<option value="{{j}}">{{i}}</option>
									{% endfor %}
							</select>
						</div>
					</div>
					<div class="row justify-content-center mb-4">
						<div class="col-md-4">
							<button name="submit" value="update-schedule" class="btn btn-primary btn-lg btn-block" type="submit">Continue</button>
						</div>
					</div>
					<div class="row justify-content-center mb-4">
						<div class="col-md-4">
							<a data-toggle="modal" href="#sch-modal" class="text-center d-block">Display Schedule</a>
						</div>
					</div>
				</form>
			</div>

			<div class="dash-cwhw d-none col-md-8 col-lg-9 mt-3">
				<a href="" onclick="show_dash_main()">&larr; Back to Dashboard</a>
				<h3 class="text-center">Update ClassWork-HomeWork</h3>
				<form method="POST">
					{% csrf_token %}
					<div class="row">
						<div class="col-md-3 offset-md-1 mb-3">
							<label for="cwhw-date">Date</label>
							<input name="date" data-date-format="yyyy-mm-dd" id="cwhw-date" class="form-control">
						</div>
						<div class="col-md-2 mb-3 pl-0 align-self-end">
							<button name="submit" value="cwhw-date" class="btn btn-primary" type="submit">Continue</button>
						</div>
						<input type="hidden" name="selected-date" id="extra-info-2" value="{{ cwhw_selected_date|date:'Y-m-d' }}">
						{% if cwhw_section %}
						<div class="col-md-3 offset-md-1 mb-3">
							<label for="cwhw-section">Section</label>
							<select name="section" class="custom-select d-block w-100 disabled" id="cwhw-section">
								{% for i in cwhw_section %}
									<option value="{{i.section}}">{{i.get_section_display}}</option>
								{% endfor %}
							</select>
						</div>
						{% endif %}
					</div>
					<p class="text-center text-danger mt-1">{{cwhw_error}}</p>
					{% if cwhw_section %}
					<div class="row justify-content-center my-4">
						<div class="col-md-6 col-lg-5 px-0 mr-5 mb-3">
							<h4 class="text-center">ClassWork</h4>
							<hr>
							<textarea name="cw" class="form-control" rows="6"></textarea>
						</div>
						<div class="col-md-6 col-lg-5 px-0 mr-5 mb-3">
							<h4 class="text-center">HomeWork</h4>
							<hr>
							<textarea name="hw" class="form-control" rows="6"></textarea>
						</div>
					</div>
					<div class="row justify-content-center mb-4">
						<div class="col-md-4">
							<button name="submit" value="update-cwhw" class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
						</div>
					</div>
					{% endif %}
				</form>
			</div>
			<div class="dash-vol-att d-none col-md-8 col-lg-9 mt-3">
					<a href="" onclick="show_dash_main()">&larr; Back to Dashboard</a>
					<h3 class="text-center">Volunteers Attendence</h3>
					<p class="text-center mt-3"><span class="font-weight-bold">Date: </span>{{today_date}}</p>
					{% if today_vol_att.count %}
					<p class="text-center text-danger mb-3">Today's Volunteer attendence already submitted! Contact admin in case of discripencies.</p>
					<div class="row justify-content-center mt-4">
						<div class="col-md-8 border rounded">
							<h5 class="text-center mt-3">Volunteers Present Today</h5>
							<hr>
							<p>
								{% for vol_att in today_vol_att %}
									<span class="text-monospace font-weight-lighter">{{vol_att.roll_no.first_name}} {{vol_att.roll_no.last_name}}</span>
									<br>
								{% endfor %}
							</p>
						</div>
					</div>
					{% else %}
					<form method="POST">
						{% csrf_token %}
						<div class="row justify-content-center mt-5">
							<div class="col-sm-6 mb-2">
								<table class="table">
									<thead>
										<tr>
											<th>Volunteer Name</th>
											<th>Mark Present</th>
										</tr>
									</thead>
									<tbody>
										{% for vol in today_volun %}
										<tr>
											<td>{{vol.roll_no.first_name}} {{vol.roll_no.last_name}}</td>
											<td>
												<div class="custom-control custom-switch">
													<input type="checkbox" name="volunteered" value="{{vol.roll_no}}" class="custom-control-input" id="v{{vol.id}}">
													<label class="custom-control-label" for="v{{vol.id}}"></label>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<!-- <p class="text-center text-danger mt-1">{{cwhw_error}}</p> -->
						<div class="row justify-content-center mb-4">
							<div class="col-md-4">
								<button name="submit" value="vol-att" class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
							</div>
						</div>
					</form>
					{% endif %}
				</div>

				<div class="dash-stu-att d-none col-md-8 col-lg-9 mt-3">
						<a href="" onclick="show_dash_main()">&larr; Back to Dashboard</a>
						<h3 class="text-center">Students Attendence</h3>
						<p class="text-center mt-3"><span class="font-weight-bold">Date: </span>{{today_date}}</p>
						{% if today_stu_att.count %}
						<p class="text-center text-danger mb-3">Today's Student attendence already submitted! Contact admin in case of discripencies.</p>
						<div class="row justify-content-center mt-4">
							<div class="col-md-8 border rounded">
								<h5 class="text-center mt-3">Students Present Today</h5>
								<hr>
								<p>
									{% for stu_att in today_stu_att %}
										<span class="text-monospace font-weight-lighter">{{stu_att.sid.first_name}} {{stu_att.sid.last_name}}</span>
										<br>
									{% endfor %}
								</p>
							</div>
						</div>
						{% else %}
						<form method="POST">
							{% csrf_token %}
							<div class="row justify-content-center mt-5">
								<div class="col-sm-6 mb-2">
									<table class="table">
										<thead>
											<tr>
												<th>Student Name</th>
												<th>Mark Present</th>
											</tr>
										</thead>
										<tbody>
											{% for stu in today_stu %}
											<tr>
												<td>{{stu.sid.first_name}} {{stu.sid.last_name}}</td>
												<td>
													<div class="custom-control custom-switch">
														<input type="checkbox" name="attended" value="{{stu.sid.id}}" class="custom-control-input" id="s{{stu.id}}">
														<label class="custom-control-label" for="s{{stu.id}}"></label>
													</div>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
							<!-- <p class="text-center text-danger mt-1">{{cwhw_error}}</p> -->
							<div class="row justify-content-center mb-4">
								<div class="col-md-4">
									<button name="submit" value="stu-att" class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
								</div>
							</div>
						</form>
						{% endif %}
					</div>

		</div>

		<!-- Toast -->
		<div class="row justify-content-center">
			<div style="position: fixed; bottom: 64px; left: 10px;">
				<div class="toast" id="alert_toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
					<div class="toast-header">
						<strong class="mr-auto">{{toast}}</strong>
						<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Schedule Modal -->
		<div class="modal" id="sch-modal">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
			
					<div class="modal-header">
						<h4 class="modal-title">Schedule</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
				
					<!-- Modal body -->
					<div class="modal-body">
						<form class="form-inline mb-2">
							<label for="day" class="mr-sm-2">Day: </label>
							<select name="day" class="custom-select d-block mr-sm-2" id="sch-modal-day">
								{% for j,i in day %}
								<option value="{{j}}">{{ i }}</option>
								{% endfor %}
							</select>
							<button type="button" class="btn btn-primary" id="sch-modal-button" onclick="show_schedule()">Submit</button>
						</form>

						<table class="table d-none" id="sch-modal-table">
							<thead>
								<tr>
									<th>Day</th>
									<th>Section</th>
									<th>Subject</th>
								</tr>
							</thead>
							<!-- Monday -->
							<tbody class="d-none" id="sch-monday">
								{% for sch in schedules %}
									{% if sch.day == 'Monday' %}
									<tr>
										<td>{{sch.day}}</td>
										<td>{{sch.get_section_display}}</td>
										<td>{{sch.get_subject_display}}</td>
									</tr>
									{% endif %}
								{% endfor %}
							</tbody>
							<tbody class="d-none" id="sch-tuesday">
								{% for sch in schedules %}
									{% if sch.day == 'Tuesday' %}
									<tr>
										<td>{{sch.day}}</td>
										<td>{{sch.get_section_display}}</td>
										<td>{{sch.get_subject_display}}</td>
									</tr>
									{% endif %}
								{% endfor %}
							</tbody>
							<tbody class="d-none" id="sch-wednesday">
								{% for sch in schedules %}
									{% if sch.day == 'Wednesday' %}
									<tr>
										<td>{{sch.day}}</td>
										<td>{{sch.get_section_display}}</td>
										<td>{{sch.get_subject_display}}</td>
									</tr>
									{% endif %}
								{% endfor %}
							</tbody>
							<tbody class="d-none" id="sch-thursday">
								{% for sch in schedules %}
									{% if sch.day == 'Thursday' %}
									<tr>
										<td>{{sch.day}}</td>
										<td>{{sch.get_section_display}}</td>
										<td>{{sch.get_subject_display}}</td>
									</tr>
									{% endif %}
								{% endfor %}
							</tbody>
							<tbody class="d-none" id="sch-friday">
								{% for sch in schedules %}
									{% if sch.day == 'Friday' %}
									<tr>
										<td>{{sch.day}}</td>
										<td>{{sch.get_section_display}}</td>
										<td>{{sch.get_subject_display}}</td>
									</tr>
									{% endif %}
								{% endfor %}
							</tbody>
							<tbody class="d-none" id="sch-saturday">
								{% for sch in schedules %}
									{% if sch.day == 'Saturday' %}
									<tr>
										<td>{{sch.day}}</td>
										<td>{{sch.get_section_display}}</td>
										<td>{{sch.get_subject_display}}</td>
									</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
						
					</div>
				
					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				
				</div>
			</div>
		</div>

		<!-- Other Tags -->
		<div class="row justify-content-end">
			<input type="hidden" id="extra-info-1" value="{{ selected_date|date:'Y-m-d' }}">
			<div class="col-md-8 col-lg-9" style="height: 54px;"></div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
<style>
	footer{
		position: fixed;
		bottom: 0;
		width: 100vw;
	}
	@media(max-width: 767px){
		footer{
			position: static;
		}
	}
</style>

<!-- Script for Main Dashboard Date Picker -->
<script type="text/javascript">
	$('#class-date').datepicker({
		weekStart: 1,
		autoclose: true,
		todayHighlight: true,
	});
	if(document.getElementById("extra-info-1").value.length>0)
		$('#class-date').datepicker("setDate", "{{ selected_date|date:'Y-m-d' }}");
	else
		$('#class-date').datepicker("setDate", new Date());
	
</script>

<!-- Script for Update Profile Date Pickers -->
<script type="text/javascript">
	$('#dob').datepicker({
		weekStart: 1,
		autoclose: true,
		todayHighlight: true,
	});
	$('#dob').datepicker("setDate", "{{ volunteer.dob|date:'Y-m-d' }}");
</script>

<!-- Script for Main CW_HW Date Picker -->
<script type="text/javascript">
	$('#cwhw-date').datepicker({
		weekStart: 1,
		autoclose: true,
		todayHighlight: true,
	});
	if(document.getElementById("extra-info-2").value.length>0)
		$('#cwhw-date').datepicker("setDate", "{{ cwhw_selected_date|date:'Y-m-d' }}");
	else
		$('#cwhw-date').datepicker("setDate", new Date());
	
</script>

<!-- Script for sidebar buttons -->
<script>
	let dash_main = document.querySelector(".dash-main");
	let dash_update = document.querySelector(".dash-update");
	let dash_schedule = document.querySelector(".dash-schedule");
	let dash_cwhw = document.querySelector(".dash-cwhw");
	let dash_vol_att = document.querySelector(".dash-vol-att");
	let dash_stu_att = document.querySelector(".dash-stu-att");


	if("{{update_error}}"){
		show_dash_update();
	} 
	if("{{sch_error}}"){
		show_dash_schedule();
	}
	if("{{cwhw_selected_date}}"){
		show_dash_cwhw();
	}

	function show_dash_main(){
		if(dash_main.classList.contains('d-none')) dash_main.classList.remove('d-none');
		if(!dash_update.classList.contains('d-none')) dash_update.classList.add('d-none');
		if(!dash_schedule.classList.contains('d-none')) dash_schedule.classList.add('d-none');
		if(!dash_cwhw.classList.contains('d-none')) dash_cwhw.classList.add('d-none');
		if(!dash_vol_att.classList.contains('d-none')) dash_vol_att.classList.add('d-none');
		if(!dash_stu_att.classList.contains('d-none')) dash_stu_att.classList.add('d-none');
	}

	function show_dash_update(){
		if(!dash_main.classList.contains('d-none')) dash_main.classList.add('d-none');
		if(dash_update.classList.contains('d-none')) dash_update.classList.remove('d-none');
		if(!dash_schedule.classList.contains('d-none')) dash_schedule.classList.add('d-none');
		if(!dash_cwhw.classList.contains('d-none')) dash_cwhw.classList.add('d-none');
		if(!dash_vol_att.classList.contains('d-none')) dash_vol_att.classList.add('d-none');
		if(!dash_stu_att.classList.contains('d-none')) dash_stu_att.classList.add('d-none');
	}

	function show_dash_schedule(){
		if(!dash_main.classList.contains('d-none')) dash_main.classList.add('d-none');
		if(!dash_update.classList.contains('d-none')) dash_update.classList.add('d-none');
		if(dash_schedule.classList.contains('d-none')) dash_schedule.classList.remove('d-none');
	}

	function show_dash_cwhw(){
		if(!dash_main.classList.contains('d-none')) dash_main.classList.add('d-none');
		if(!dash_update.classList.contains('d-none')) dash_update.classList.add('d-none');
		if(dash_cwhw.classList.contains('d-none')) dash_cwhw.classList.remove('d-none');
		if(!dash_vol_att.classList.contains('d-none')) dash_vol_att.classList.add('d-none');
		if(!dash_stu_att.classList.contains('d-none')) dash_stu_att.classList.add('d-none');
	}

	function show_dash_vol_att(){
		if(!dash_main.classList.contains('d-none')) dash_main.classList.add('d-none');
		if(!dash_update.classList.contains('d-none')) dash_update.classList.add('d-none');
		if(!dash_cwhw.classList.contains('d-none')) dash_cwhw.classList.add('d-none');
		if(dash_vol_att.classList.contains('d-none')) dash_vol_att.classList.remove('d-none');
		if(!dash_stu_att.classList.contains('d-none')) dash_stu_att.classList.add('d-none');
	}

	function show_dash_stu_att(){
		if(!dash_main.classList.contains('d-none')) dash_main.classList.add('d-none');
		if(!dash_update.classList.contains('d-none')) dash_update.classList.add('d-none');
		if(!dash_cwhw.classList.contains('d-none')) dash_cwhw.classList.add('d-none');
		if(!dash_vol_att.classList.contains('d-none')) dash_vol_att.classList.add('d-none');
		if(dash_stu_att.classList.contains('d-none')) dash_stu_att.classList.remove('d-none');
	}

</script>

<!-- Script for Toast -->
<script>
	if("{{toast}}"){
		$('#alert_toast').toast('show');
		if("{{update_error}}" || "{{sch_error}}" || "{{cwhw_error}}")
			document.getElementById("alert_toast").classList.add("bg-danger");
		else
			document.getElementById("alert_toast").classList.add("bg-success");
	}	
</script>

<script>
	let sch_modal_day = document.getElementById("sch-modal-day");
	let sch_modal_table = document.getElementById("sch-modal-table");

	let sch_monday = document.getElementById("sch-monday")
	let sch_tuesday = document.getElementById("sch-tuesday")
	let sch_wednesday = document.getElementById("sch-wednesday")
	let sch_thursday = document.getElementById("sch-thursday")
	let sch_friday = document.getElementById("sch-friday")
	let sch_saturday = document.getElementById("sch-saturday")

	function show_schedule(){
		let selected_day = sch_modal_day.options[sch_modal_day.selectedIndex].value;

		if(sch_modal_table.classList.contains('d-none')) sch_modal_table.classList.remove('d-none');

		if(!sch_monday.classList.contains('d-none')) sch_monday.classList.add('d-none');
		if(!sch_tuesday.classList.contains('d-none')) sch_tuesday.classList.add('d-none');
		if(!sch_wednesday.classList.contains('d-none')) sch_wednesday.classList.add('d-none');
		if(!sch_thursday.classList.contains('d-none')) sch_thursday.classList.add('d-none');
		if(!sch_friday.classList.contains('d-none')) sch_friday.classList.add('d-none');
		if(!sch_saturday.classList.contains('d-none')) sch_saturday.classList.add('d-none');

		if(selected_day == "Monday") sch_monday.classList.remove('d-none');
		else if (selected_day == "Tuesday") sch_tuesday.classList.remove('d-none');
		else if (selected_day == "Wednesday") sch_wednesday.classList.remove('d-none');
		else if (selected_day == "Thursday") sch_thursday.classList.remove('d-none');
		else if (selected_day == "Friday") sch_friday.classList.remove('d-none');
		else if (selected_day == "Saturday") sch_saturday.classList.remove('d-none');
	}
</script>
{% endblock %}