{% extends 'sidebar.html' %}

{% load static %}

{% block title %} Jagrati | Update Profile {% endblock %}

{% block content-sidebar %}

<!-- UPDATE PROFILE -->

<div class="dash-update col-md-8 col-lg-9 mt-3">
	<a href="" class="d-inline-block mb-2 mb-md-0">&larr; Back to Dashboard</a>
	<h3 class="text-center">Update Profile</h3>
	<p class="text-center text-danger mb-1 mt-3">{{update_error}}</p>
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<form method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-6 mb-3">
						<label for="rollNo">Roll No.</label>
						<input name="roll_no" type="number" class="form-control" id="rollNo" placeholder="{{volunteer.roll_no}}" value="">
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 mb-3">
						<label for="firstName">First name</label>
						<input name="first_name" type="text" class="form-control" id="firstName" placeholder="{{volunteer.first_name}}" value="">
					</div>
					<div class="col-md-6 mb-3">
						<label for="lastName">Last name</label>
						<input name="last_name" type="text" class="form-control" id="lastName" placeholder="{{volunteer.last_name}}" value="">
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 mb-3">
						<label for="gender">Gender</label>
						<select name="gender" class="custom-select d-block w-100" id="gender">
							<option value="M" {% if volunteer.gender == "M" %} selected {% endif %} >Male</option>
							<option value="F" {% if volunteer.gender == "F" %} selected {% endif %} >Female</option>
							<option value="O" {% if volunteer.gender == "O" %} selected {% endif %} >Other</option>
						</select>
					</div>
					<div class="col-md-4 mb-3">
						<label for="batch">Batch</label>
						<select name="batch" class="custom-select d-block w-100" id="batch">
							{% for i in '543210'|make_list %}
								{% if volunteer.batch == last_5_year|add:i %}
								<option value="{{last_5_year|add:i}}" selected>{{last_5_year|add:i}}</option>
								{% else %}
								<option value="{{last_5_year|add:i}}">{{last_5_year|add:i}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
					<div class="col-md-4 mb-3">
						<label for="programme">Programme</label>
						<select name="programme" class="custom-select d-block w-100" id="programme">
							<option value="bt" {% if volunteer.programme == "bt" %} selected {% endif %} >B.Tech</option>
							<option value="mt" {% if volunteer.programme == "mt" %} selected {% endif %} >M.Tech</option>
							<option value="phd" {% if volunteer.programme == "phd" %} selected {% endif %} >phD</option>
							<option value="bd" {% if volunteer.programme == "bd" %} selected {% endif %} >B.Des</option>
							<option value="md" {% if volunteer.programme == "md" %} selected {% endif %} >M.Des</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 mb-3">
						<label for="dob">Date of Birth</label>
						<input name="dob" data-date-format="yyyy-mm-dd" id="dob" class="form-control">
					</div>
					<div class="col-md-8 mb-3">
						<label for="contactNo">Contact No.</label>
						<input name="contact_no" type="number" class="form-control" id="contactNo" placeholder="{{volunteer.contact_no}}" value="">
					</div>
				</div>
			
				<div class="mb-3">
					<label for="altemail">Alternate Email <span class="text-muted">(Optional)</span></label>
					<input name="alt_email" type="email" class="form-control" id="altemail" placeholder="{{volunteer.alt_email}}">
				</div>
			
				<div class="mb-3">
					<label for="address">Address</label>
					<input name="street_address1" type="text" class="form-control" id="address" placeholder="{{volunteer.street_address1}}">
				</div>
			
				<div class="mb-3">
					<label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
					<input name="street_address2" type="text" class="form-control" id="address2" placeholder="{{volunteer.street_address2}}">
				</div>
			
				<div class="row">
					<div class="col-md-5 mb-3">
					<label for="city">City</label>
					<input name="city" type="text" class="form-control" id="city" placeholder="{{volunteer.city}}" value="">
					</div>
					<div class="col-md-4 mb-3">
					<label for="state">State</label>
					<input name="state" type="text" class="form-control" id="state" placeholder="{{volunteer.state}}" value="">
					</div>
					<div class="col-md-3 mb-3">
					<label for="pinCode">PIN Code</label>
					<input name="pincode" type="number" class="form-control" id="pinCode" placeholder="{{volunteer.pincode}}">
					</div>
				</div>
				<hr class="mb-4">
				<div class="row justify-content-center mb-4">
					<div class="col-md-6">
						<button name="submit" value="update-profile" class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts-sidebar %}

<!-- Script for Update Profile Date Pickers -->
<script type="text/javascript">
	$('#dob').datepicker({
		weekStart: 1,
		autoclose: true,
		todayHighlight: true,
	});
	$('#dob').datepicker("setDate", "{{ volunteer.dob|date:'Y-m-d' }}");
</script>

{% endblock %}