<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-dark border-bottom shadow-sm sticky-top">
	<h2 class="mb-3 my-md-0 mr-md-auto font-weight-normal" >
		<a class="text-decoration-none" href="{% url 'home' %}" style="color:#ff8c00;">Jagrati</a>								<!--Change this-->
	</h2>
	<!-- <nav class="my-2 my-md-0 mr-md-3">
		<a class="p-2 text-dark" href="#">Features</a>
		<a class="p-2 text-dark" href="#">Enterprise</a>
		<a class="p-2 text-dark" href="#">Support</a>
		<a class="p-2 text-dark" href="#">Pricing</a>
	</nav> -->
	{% if user.is_authenticated and user.is_active%}
	<a class="btn btn-outline-success mr-md-3 mb-2 mb-md-0" href="{% url 'password_change' %}">Change Password</a>
	<a class="btn btn-outline-danger" href="{% url 'logout' %}">Sign Out</a>
	{% else %}
	<a class="btn btn-outline-danger" href="{% url 'login_signup' %}">Sign In</a>
	{% endif %}
</div>