{% extends 'layout.html' %}

{% block title %} Login | SignUp {% endblock %}

{% block content %}

    <div class="container">
        <div class="d-flex flex-column">
            <h1 class="m-auto">Activate your account</h1>
            <p class="m-auto">Account activation link has been sent to mail address: {{user}}</p>
            <p class="m-auto"><a href="{% url 'home' %}">Home</a></p>
            <p class="m-auto"><a href="#"> Resend Confirmation Mail</a></p>
        </div>
    </div>

{% endblock %}