{% extends 'layout.html' %}

{% block title %} Jagrati | Events {% endblock %}

{% block style %}

  .col-md-3
{
display: inline-block;
margin-top:-10px;
margin-left:-4px;
}
.carousel-indicators .active {
background-color: blue;
}
.col-md-3 img{
  margin:3rem 3rem;
width: 170px;
height: 200px;
}

body .carousel-indicator li active{
background-color: blue;
margin-top:10px;
}
body .carousel-indicator li unable{
background-color: grey;
margin-top:10px;
}
body .carousel-indicators{
bottom: 2rem;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
background-color: blue;
}
<!--slider buttons-->
.carousel-control-prev,
.carousel-control-next{
top: auto;
bottom: auto;
padding-top: 222px;
}
body .no-padding{
padding-left: 0,
padding-right: 0;
}
{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <h1>Events list</h1>
<div id="demo" class="carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>

       {% for i in range %}
      <li data-target="#demo" data-slide-to="{{i}}" class="unable"></li>
      {% endfor %}
    </ul>

    <!--Slideshow starts here -->
    <div class="container carousel-inner no-padding">

      <div class="carousel-item active">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width: 18rem;">
            <img src='/media/{{event.0.thumbnail}}' class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{event.0.venue}}</h5>
                <p class="card-text">{{event.0.description}}</p>
                <a href="/events/show_event/{{event.0.id}}"><button id="qv{{event.0.id}}" class="btn btn-primary">QuickView</button></a>
            </div>
          </div>
       </div>


        {% for i in event|slice:"1:" %}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width: 18rem;">
            <img src='/media/{{i.thumbnail}}' class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{i.venue}}</h5>
              <p class="card-text">{{i.description}}</p>
              <a href="/events/show_event/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary cart">QuickView</button></a>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
      </div><div class="carousel-item">
        {% endif %}

        {% endfor %}
    </div>



</div>
</div>
    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>



</div>


 {% endblock %}