{% autoescape off %}
A new User has signed up. The details are as follows:<br>
<br>
Email: {{ profile.user.email }}<br>
Roll No: {{ volun.roll_no }}<br>
Name: {{ profile.get_full_name }}<br>
Gender: {{ profile.get_gender_display }}<br>
Batch: {{ volun.batch }}<br>
Programme: {{ volun.get_programme_display }}<br>
Date of Birth: {{ volun.dob }}<br>
Alternate Email: {{ profile.alt_email }}<br>
Address: {{ profile.get_complete_address }}<br>
<br>
To verify the account, click on the link below...<br>
<br>
http://{{ domain }}{% url 'account_authentication' uidb64=uid token=token %}<br>
<br>
<br>
Regards,<br>
Jagrati Team
{% endautoescape %}