{% extends 'sidebar.html' %}

{% load static %}

{% block title %} Jagrati | Volunteer Attendance {% endblock %}

{% block content-sidebar %}
<!-- Volunteer Attendance -->
<div class="dash-vol-att col-md-8 col-lg-9 mt-3">
    <a href="" class="d-inline-block mb-2 mb-md-0">&#x27f3; Refresh Page</a>
    <h3 class="text-center">Volunteers Attendance</h3>
    <p class="text-center mt-3"><span class="font-weight-bold">Date: </span>{{ today_date }}</p>

    {% if no_class_today %}
    <p class="text-center text-danger mb-3">No class is scheduled for today.</p>
    {% else %}
    <div class="row justify-content-center mt-5">
        <div class="col-xl-6 col-lg-8 col-sm-10 mb-2 text-center">
            <input type="text" id="filter-volunteers" class="form-control mb-3 mx-auto" onkeyup="filterVolunteers()"
                placeholder="Search by name or roll no...">
            <table class="table" id="vol-att-table">
                <thead>
                    <tr>
                        <th>Roll No.</th>
                        <th>Name</th>
                        <th>Mark Present</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vol_att in today_vol_att %}
                    <tr>
                        <td>{{ vol_att.volun.roll_no }}</td>
                        <td>
                            <a href="{% url 'volunteers:profile' vol_att.volun_id %}" target="_blank">
                                {{ vol_att.volun.profile.get_full_name }}
                            </a>
                        </td>

                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" id="v{{ vol_att.volun.id }}" class="custom-control-input"
                                    onchange="markAttendance('{{ vol_att.volun.id }}')"
                                    {% if vol_att.present %}checked{% endif %}>
                                <label class="custom-control-label" for="v{{ vol_att.volun.id }}"></label>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row justify-content-center">
                <div class="col-sm-9">
                    <input type="text" id="add-extra-vol" class="form-control mb-3 mx-auto"
                        placeholder="Enter roll no..">
                </div>
                <div class="col-sm-3">
                        <button type="button" class="btn btn-primary btn-block" onclick="add_extra_vol()">Add</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts-sidebar %}
<!-- Search Filter for Volunteers Attendance  -->
<script>
    function filterVolunteers() {
        // Declare variables
        let input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filter-volunteers");
        filter = input.value.toUpperCase();
        table = document.getElementById("vol-att-table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td1 = tr[i].getElementsByTagName("td")[0];
            td2 = tr[i].getElementsByTagName("td")[1];
            if (td1) {
                txtValue1 = td1.textContent || td1.innerText;
                txtValue2 = td2.textContent || td2.innerText;
                if (txtValue1.toUpperCase().indexOf(filter) > -1 || txtValue2.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


<!-- Mark/Unmark Volunteer Attendance -->
<script>
    function markAttendance(volun_id) {
        let att_checkbox = document.getElementById(`v${volun_id}`);
        let is_present = att_checkbox.checked;
        console.log(is_present);
        $.ajax({
            url: "{% url 'volunteers:ajax_mark_attendance' %}",
            data: {
                'volun_id': volun_id,
                'is_present': is_present,
            },
            dataType: 'json',
            success: function (data, status) {
                display_toast("Attendance updated.", 500, "success");
            },
            error: function (data, status) {
                // Un-toggle the checkbox
                is_present ? att_checkbox.checked = false : att_checkbox.checked = true;
                display_toast("Something went wrong.", 3500, "danger");
            }
        });
    }
</script>

<!-- Add Extra Volunteer in Volunteer Attendance -->
<script>
    function add_extra_vol() {
        const add_extra_vol_input = document.getElementById('add-extra-vol');
        const roll_no = add_extra_vol_input.value;

        $.ajax({
            url: "{% url 'volunteers:ajax_add_extra_vol' %}",
            data: {
                'roll_no': roll_no,
            },
            dataType: 'json',
            success: function (data, status) {
                console.log(data);
                if (data.success) {
                    add_extra_vol_input.value = "";

                    // Add new volunteer to the table
                    let table = document.getElementById('vol-att-table');
                    let tableRow = document.createElement("tr");

                    let td1 = document.createElement("td");
                    let td2 = document.createElement("td");
                    let td3 = document.createElement("td");
                    td1.innerText = data.roll_no;
                    td2.innerText = data.name;
                    td3.innerHTML = 
                        `<div class="custom-control custom-switch">
                            <input type="checkbox" id="v${data.volun_id}" class="custom-control-input"
                                onchange="markAttendance('${data.volun_id}')" checked>
                            <label class="custom-control-label" for="v${data.volun_id}"></label>
                        </div>`

                    tableRow.append(td1);
                    tableRow.append(td2);
                    tableRow.append(td3);

                    table.appendChild(tableRow);

                    display_toast("Volunteer added.", 1500, "success");
                } else {
                    display_toast(data.error, 3500, "danger");
                }
            },
            error: function (data, status) {
                display_toast("Something went wrong.", 3500, "danger");
            }
        });
    }
</script>

<!-- Display toast -->
<script>
    function display_toast(message, time, bg) {
        $('#alert-toast-div > div').html(
            `<div class="toast" id="alert_toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="${time}">
                <div class="toast-body p-2 px-3">
                    <strong class="mr-auto">${message}</strong>
                    <button type="button" class="ml-3 close" style="margin-top: -3px;" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>`
        )

        $("#alert_toast").toast("show");
        $("#alert_toast").addClass(`bg-${bg}`);
    }
</script>
{% endblock %}
