{% extends 'sidebar.html' %}

{% load static %}

{% block title %} Jagrati | Volunteer Attendance {% endblock %}

{% block content-sidebar %}
<!-- Volunteer Attendance -->
<div class="dash-vol-att col-md-8 col-lg-9 mt-3">
    <a href="" class="d-inline-block mb-2 mb-md-0">&#x27f3; Refresh Page</a>
    <h3 class="text-center">Volunteers Attendance</h3>
    <p class="text-center mt-3"><span class="font-weight-bold">Date: </span>{{ today_date }}</p>

    {% if no_class_today %}
    <p class="text-center text-danger mb-3">No class is scheduled for today.</p>
    {% else %}
    <form method="POST">
        {% csrf_token %}
        <div class="row justify-content-center mt-5">
            <div class="col-sm-6 mb-2 text-center">
                <input type="text" id="filter-volunteers" class="form-control mb-3 mx-auto" onkeyup="filterVolunteers()"
                    placeholder="Search roll no..">
                <table class="table" id="vol-att-table">
                    <thead>
                        <tr>
                            <th>Roll No.</th>
                            <th>Name</th>
                            <th>Mark Present</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vol_att in today_vol_att %}
                        <tr>
                            <td>{{ vol_att.volun.roll_no }}</td>
                            <td>
                                <a href="{% url 'volunteers:profile' vol_att.volun_id %}" target="_blank">
                                    {{ vol_att.volun.profile.get_full_name }}
                                </a>
                            </td>

                            <td>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" name="volunteered" value="{{ vol_att.volun.id }}"
                                        id="v{{ vol_att.id }}" class="custom-control-input"
                                           onchange="markAttendance('{{ vol_att.volun.id }}', 'v{{ vol_att.id }}')"
                                        {% if vol_att.present %}checked{% endif %}>
                                    <label class="custom-control-label" for="v{{ vol_att.id }}"></label>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="row col-sm-6 mb-2 text-center">
                <div class="justify-content-center col-sm-9">
                    <input type="text" id="add-volunteers" class="form-control mb-3 mx-auto"
                        placeholder="Enter roll no..">
                </div>
                <div class="justify-content-center col-sm-3">
                        <button type="button" class="btn btn-primary btn-block" onclick="add_vol()">Add</button>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}

{% block scripts-sidebar %}
<!-- Search Filter for Volunteers Attendance  -->
<script>
    function filterVolunteers() {
        // Declare variables
        let input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filter-volunteers");
        filter = input.value.toUpperCase();
        table = document.getElementById("vol-att-table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<!-- Add Extra Volunteers in Volunteer Attendance -->
<script>
    function add_vol() {

        let table = document.getElementById('vol-att-table');
        let tableRow = document.createElement("tr");

        let td1 = document.createElement("td");
        let td2 = document.createElement("td");
        {#let td3 = document.createElement("td");#}
        td1.innerText = "20202001";
        td2.innerText = "Sagar Pandya";

        tableRow.append(td1);
        tableRow.append(td2);

        table.appendChild(tableRow);
    }
</script>

<!-- Mark/Unmark Volunteer Attendance -->
<script>
    function markAttendance(volun_id, checkbox_id) {
        let att_checkbox = document.getElementById(checkbox_id);
        let is_present = att_checkbox.checked;
        console.log(is_present);
        $.ajax({
            url: "{% url 'volunteers:ajax_mark_attendance' %}",
            data: {
                'volun_id': volun_id,
                'is_present': is_present,
            },
            dataType: 'json',
            success: function (data, status) {
                $('#alert-toast-div > div').html(
                    `<div class="toast" id="alert_toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="500">
                        <div class="toast-body p-2 px-3">
                            <strong class="mr-auto">Attendance updated.</strong>
                            <button type="button" class="ml-3 close" style="margin-top: -3px;" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>`
                )

                $("#alert_toast").toast("show");
                $("#alert_toast").addClass("bg-success");
            },
            error: function (data, status) {
                // Un-toggle the checkbox
                is_present ? att_checkbox.checked = false : att_checkbox.checked = true;
                $('#alert-toast-div > div').html(
                    `<div class="toast" id="alert_toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3500">
                        <div class="toast-body p-2 px-3">
                            <strong class="mr-auto">Something went wrong.</strong>
                            <button type="button" class="ml-3 close" style="margin-top: -3px;" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>`
                )

                $("#alert_toast").toast("show");
                $("#alert_toast").addClass("bg-danger");
            }
        });
    }
</script>
{% endblock %}