{% extends 'sidebar.html' %}

{% load static %}

{% block title %} Jagrati | Volunteers List {% endblock %}

{% block content-sidebar %}

<!-- List of Volunteers -->

<div class="dash-vol-list col-md-8 col-lg-9 mt-3">
    <a href="" class="d-inline-block mb-2 mb-md-0">&#x27f3; Refresh Page</a>
    <h3 class="text-center">Volunteers Schedule</h3>
    <div class="row justify-content-center">
        <div class="col-md-4 my-3">
            <select name="day" class="custom-select d-block w-100" id="vol-list-day">
                <option value="">Select Day</option>
                {% for day, day_name in day %}
                <option value="{{ day }}">{{ day_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row justify-content-center d-none my-4 mx-0" id="reg-vol">
        <div class="col-md-9 border rounded">
            <h4 class="text-center mt-3">Registered Volunteers</h4>
            <hr>
            <table class="table table-hover" id="vol-list-table"></table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts-sidebar %}

<!-- AJAX for Volunteer's List -->

<script>
    $("#vol-list-day option:first").attr('selected', 'selected');
    $("#vol-list-day").change(function () {
        let vol_list_day = $(this).val();
        let reg_vol_div = document.getElementById('reg-vol');

        if (vol_list_day == "") {
            if (!reg_vol_div.classList.contains('d-none')) reg_vol_div.classList.add('d-none');
        }
        else {
            if (reg_vol_div.classList.contains('d-none')) reg_vol_div.classList.remove('d-none');
        }

        $.ajax({
            url: "{% url 'volunteers:ajax_volunteers_list' %}",
            data: {
                'vol_list_day': vol_list_day,
            },
            dataType: 'json',
            success: function (data) {
                if (Object.keys(data).length === 0) {
                    $("#vol-list-table").html('No Volunteers to display!');
                }
                else {
                    let vol_list_table = '<thead><tr><th>Roll No.</th><th>Name</th><th>Section</th></tr></thead><tbody>';

                    Object.entries(data).forEach(([key, [user_id, roll_no, name, section]]) => {
                        const url_mask = "{% url 'volunteers:profile' 14325 %}".replace("14325", user_id);
                        vol_list_table += '<tr><td>' + roll_no + '</td><td><a href="' + url_mask + '" target ="_blank">' + name + '</a></td><td>' + section + '</td></tr>';
                    });

                    vol_list_table += '</tbody>';
                    $("#vol-list-table").html(vol_list_table);
                }
            }
        });
    });
</script>

{% endblock %}