{% extends 'base.html' %}

{% block title %} 404 Error Page {% endblock %}

{% block content %}

<style>
    body {
        background-color:orange; 
        margin: 0;
        padding: 0;
        display:flex;
        justify-content:center;
        align-items:center;
        font-size: 2.2rem;
        text-align:center;
    }

    .container {
        background-color:rgb(224, 218, 218);
    }

    img {
        width:300px;
        height:300px;
        border-radius: 50%;
    }

    button {
        margin:50px;
        font-size: 1.8rem;
    }

    a {
        text-decoration:none;
        color:black;
    }
</style>

<div class="container">
    <div style="display:flex;flex-direction:row;">
        <div style="width:45%;display:flex;justify-content:center;align-items:center;flex-direction:column;padding-top:20px;">
            <img src="404.png">
        </div>
        <div style="width:45%">
            <h1>OOPS !!!</h1>
            <p>The page you're looking for is now beyond our reach.</p>
        </div>
    </div>
    <button><a href={% url 'home:dashboard'}>Go back to Home</a></button>
</div>

{% endblock %} 

