<style>
    footer{
        /* position: relative; */
        background-color: #1a1b1e;
        color: white;
        text-align: center;
        padding: 15px 0;
        /* z-index: 100; */
    }
</style>

<!-- Footer starts -->
<footer>
    <div class="mx-5">
        <div class="footer text-white text-center clearfix">
            <div class="float-lg-left pt-1 pb-2 py-lg-0">
                &copy; <a class="text-decoration-none" href="{% url 'home:index' %}" style="color:#ff8c00;">Jagrati</a>; {% now 'Y'%}
            </div>
            <div class="float-lg-right">
                Made with <span class="text-danger">&hearts;</span> by
                <a style="color: #ff8c00;" href="https://github.com/garg3133">Priyansh Garg</a> and other
                <a style="color: #ff8c00;" href="https://github.com/garg3133/JagratiWebApp/graphs/contributors">OSS contributors</a>.
            </div>
        </div>
    </div>
</footer>
<!-- Footer ends -->