{% comment %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-dark border-bottom shadow-sm sticky-top">
    <h2 class="mb-3 my-md-0 mr-md-auto font-weight-normal">
        <a class="text-decoration-none" href="{% url 'home:index' %}" style="color:#ff8c00;">Jagrati</a>
        <!--Change this-->
    </h2>
    <!-- <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Features</a>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Pricing</a>
    </nav> -->
    {% if user.is_authenticated and user.is_active%}
    <a class="btn btn-outline-success mr-md-3 mb-2 mb-md-0" href="{% url 'home:dashboard' %}">Dashboard</a>

    {% if logout_redirect_site %}
    <a class="btn btn-outline-danger" href="{% url 'accounts:logout' %}?next={{ logout_redirect_site }}">Sign Out</a>
    {% else %}
    <a class="btn btn-outline-danger" href="{% url 'accounts:logout' %}?next=/">Sign Out</a>
    {% endif %}

    {% else %}
    <a class="btn btn-outline-danger" href="{% url 'accounts:login_signup' %}">Sign In</a>
    {% endif %}
</div>
{% endcomment %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top p-3 px-md-4">
    <h2 class="my-0 mr-md-auto font-weight-normal">
        <a class="text-decoration-none" href="{% url 'home:index' %}" style="color:#ff8c00;">Jagrati</a>
        <!--Change this-->
    </h2>
    <!-- <a class="navbar-brand" href="{% url 'home:index' %}" style="color:#ff8c00;">Jagrati</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li> -->

            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li> -->
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="btn btn-outline-success mr-sm-3 mb-2 mt-3 my-sm-0"
                    href="{% url 'accounts:password_change' %}">Change Password</a>
            </li>

            <!-- Used in Feedbacks Page -->
            {% if logout_redirect_site %}
            <li class="nav-item">
                <a class="btn btn-outline-danger"
                    href="{% url 'accounts:logout' %}?next={{ logout_redirect_site }}">Sign Out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="btn btn-outline-danger" href="{% url 'accounts:logout' %}">Sign Out</a>
            </li>
            {% endif %}

            {% else %}
            <li class="nav-item">
                <a class="btn btn-outline-danger" href="{% url 'accounts:login_signup' %}">Sign In</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>