{% extends 'layout.html' %}

{% load static %}

{% block title %} Jagrati | Dashboard {% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'global/css/sidebar.css' %}">

{% block style-sidebar %}
{% endblock %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-end">
        <a id="dash-accordion" class="btn btn-light w-100 border-0 d-md-none" data-toggle="collapse" href="#dash-sidebar" onclick="change_arrow()">
            <div class="clearfix">
                <div class="float-left font-weight-bold pt-1">User Info</div>
                <div class="float-right">
                    <i class="arrow down"></i>
                </div>
            </div>
        </a>
        <nav class="collapse col-md-4 col-lg-3 d-md-block bg-light sidebar" id="dash-sidebar">
            <div class="sidebar-sticky pb-4 pb-md-0">
                <ul class="sidebar-list nav flex-column text-center">
                    <div class="card px-2 py-2 mt-4 shadow-sm">
                        <li class="nav-item">
                            <img class="sidebar-img rounded-circle my-2" src='{{ profile.get_profile_image_url }}' alt="v">
                        </li>

                        {% if profile is not None %}
                        <li class="nav-item">
                            <h5 class="my-0">{{ profile.get_full_name }}</h5>
                        </li>
                        <li class="nav-item">
                            <h5 class="my-0" style="word-break: break-all;">{{ user.email }}</h5>
                        </li>
                        <li class="nav-item">
                            <h5 class="my-2 py-1 text-danger">
                                {% if volun.desig is None %}
                                    Volunteer
                                {% else %}
                                    {{ volun.desig.name }}
                                {% endif %}
                            </h5>
                        </li>
                        {% endif %}

                        <a href="{% url 'volunteers:profile' volun.id %}" class="stretched-link"></a>
                    </div>

                    <li class="nav-item">
                        <h5 class="mt-4">Schedule</h5>
                    </li>
                    {% if volun_sch is not None %}
                    <li class="nav-item">
                        <h5>Day: <span class="lead">{{ volun_sch.get_day_display }}</span></h5>
                    </li>
                    <li class="nav-item">
                        <h5>Section: <span class="lead">{{ volun_sch.schedule.section.name }}</span></h5>
                    </li>
                    <li class="nav-item">
                        <h5>Subject: <span class="lead">{{ volun_sch.schedule.get_subject_display }}</span></h5>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <h5>Day: <span class="lead"> -- </span></h5>
                    </li>
                    <li class="nav-item">
                        <h5>Section: <span class="lead"> -- </span></h5>
                    </li>
                    <li class="nav-item">
                        <h5>Subject: <span class="lead"> -- </span></h5>
                    </li>
                    {% endif %}

                    <div id="sidebar-menu" class="shadow-sm sidebar-menu-accordion mt-4 mb-3 mx-auto">
                        <li>
                            <a class="sidebar-menu-title" href="#class-management-menu" data-toggle="collapse">
                                Manage Classes
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul id="class-management-menu" class="collapse sidebar-submenu">
                                <li><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
                                <li><a href="{% url 'home:class_schedule' %}">Class Schedule</a></li>
                                <li><a href="{% url 'volunteers:volunteers_list' %}">Volunteer Schedule</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="sidebar-menu-title" href="#student-management-menu" data-toggle="collapse">
                                Students
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul id="student-management-menu" class="collapse sidebar-submenu">
                                <li><a href="{% url 'students:index' %}">All Students</a></li>
                                <li><a href="{% url 'students:attendance' %}">Student Attendance</a></li>
                                <li><a href="{% url 'students:add_student' %}">Add new Student</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="sidebar-menu-title" href="#volunteer-management-menu" data-toggle="collapse">
                                Volunteers
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul id="volunteer-management-menu" class="collapse sidebar-submenu">
                                <li><a href="{% url 'volunteers:index' %}">All Volunteers</a></li>
                                <li><a href="{% url 'volunteers:attendance' %}">Volunteer Attendance</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="sidebar-menu-title" href="#self-management-menu" data-toggle="collapse">
                                Self
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul id="self-management-menu" class="collapse sidebar-submenu">
                                <li><a href="{% url 'volunteers:update_schedule' %}">Update Schedule</a></li>
                                <li><a href="{% url 'volunteers:update_profile' %}">Update Profile</a></li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>

        {% block content-sidebar %}
        {% endblock %}

    </div>

    <div class="row justify-content-end">
        <div class="col-md-8 col-lg-9 d-none d-md-block" style="height: 54px;"></div>
    </div>

</div>
{% endblock %}


{% block scripts %}
<!-- Script for sidebar-dropdown arrow -->
<script>
    let dash_sidebar = document.querySelector("#dash-sidebar");
    let dash_accordion = document.querySelector("#dash-accordion i");

    function change_arrow(){
		if(dash_sidebar.classList.contains('show')){
			dash_accordion.classList.remove('up');
			dash_accordion.classList.add('down');
		}
		else{
			dash_accordion.classList.remove('down');
			dash_accordion.classList.add('up');
		}
	}
</script>


{% block scripts-sidebar %}
{% endblock %}

{% endblock %}