/*GLOBAL*/
html{
	scroll-behavior: smooth;
}
body{
	font: 15px/1.5 Arial ,Helvetica ,sans-serif;
	margin : 0;
	padding: 0;
	background: #d4d4d4;
}
header{
	background: #666;
	min-height: 60px;
}
.clr{
	clear: both;
}
.menu-icon{
	width: 15px;
}
.button{
	border: 1px red solid;
	border-radius: 10px;
	cursor: pointer;
}

.container{
	max-width:80%;
	margin:auto;
	overflow: hidden;
}
a{
	padding: 0px 0px;
	text-decoration: none;
	color: black;
	/*display: inline-block;*/
}
a:hover{
	color: white;
}


/*  Customized Scroll Bar - Chrome Only  - START */

::-webkit-scrollbar {
	width: 7px;
  }

  ::-webkit-scrollbar-thumb {
	border-radius: 50px;
	/* background: #70707050; */
	background: #ff8c00	;
  }

  ::-webkit-scrollbar-thumb:hover {
	/* background: var(--theme-dark-color-0); */
	/* background: #666; */
  }

/*  Customized Scroll Bar - Chrome Only -  END */



/*HEADER STARTS*/

#branding{
	float: left;
	margin: 15px 0;
	/* align-content: space-between; */
}
#branding h1{
	margin:0;
	padding: 0;
	color: orange;
	font-size: 1.8em;
	letter-spacing: -0.5px;
}
.branding1{
	/* float:left; */
	margin-top: -22px;
	/* padding-left: 5px; */
	/*font-size: 0.9em;
	word-spacing: -0.5px;
	letter-spacing: -0.5px;*/
	margin-left: 90px;
}
.branding1 p{
	margin: 0;
	color: white;
}
.logo{
	background-image: url("../logo.jpg");
	margin: 5px 0px;
	height: 60px;
	float: right;
}

/*NAV BAR STARTS*/

nav{
	position: sticky;
	top: 0;
	background-color: #ff8c00;
	z-index: 2;
}
.navbut{
	border: 1px red solid;
	border-radius: 4px;
	background-color: #ff8c00;
	padding: 3px 10px;
	cursor: pointer;
	transition: 0.5s;
}
.navbut:hover{
	background-color: red;
}
.nav-button{
	display: none;
	float: left;
	margin: 5px 0 5px 5px;
}
.nav-button-close{
	display: none;
	float: left;
	margin: 5px 0 5px 5px;
}

/*Right nav bar*/
.navbar1{
	float: right;
	margin: 5px 0;
}
.navbar1 ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.navbar1 li{
	display: inline;
	padding: 0 5px;
	color: black;
}
.navbar1 .button{
	position: relative;
	padding: 3px 10px;
	background-color: #ff8c00;
	font-size: 15px;
	overflow: hidden;
	transition: 0.5s ease;
}
.navbar1 .button:hover{
	background-color: red;
	color: white;
	padding: 3px 12px;
}
/*.navbar1 .button:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 1px;
	margin: auto;
	background: red;
	opacity: 0;
	transition: all 0.3s ease;
	z-index: 0;
	box-sizing: border-box;
}
.navbar1 .button:hover:before{
	transform: scaleX(67);
	opacity: 1;
}
.navbar1 .button span{
	position: relative;
	z-index: 5;
}
.navbar1 a{
	overflow: hidden;
}*/

/*navbar in full size*/
.navbar{
	float: left;
	/*margin: 5px 0;*/
}
.navbar ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.navbar li{
	display: inline;
	/*padding: 0 5px;*/
	color: black;
}
.navbar a{
	display: inline-block;
	padding: 6.5px;
	transition: 0.4s;
}
.navbar a:hover{
	background-color: red;
}

/*button-controlled nav bar*/
.navbar2{
	position: absolute;
	top: 32px;
	left: 0px;
	padding: 0;
	width: 100%;
	background-color: rgba(255,140,0,0.9);
	box-sizing: border-box;
	height:0px;
	overflow: hidden;
	transition: 400ms;
}
.navbar2 ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.navbar2 li{
	display: block;
	padding: 0;
	padding-left: 5px;
	color: white;
	border: 1px white solid;
	border-radius: 5px;
	width: 77%;
	margin: 1px auto;
}
.navbar2 li a{
	display: block;
}

/*SHOWCASE STARTS*/

#showcase{
	background: rgba(0,0,0,0.9) url("../images/02.jpg") no-repeat center -130px;
	min-height: 500px;
	z-index: 1;
	position: relative;
}
.show-bg{
	width: 100%;
	min-height: 500px;
	background-color: rgba(0,0,0,0.3);
}
#showcase h1{
	text-align: center;
	color: white;
	margin-top: 150px;
	font-size: 2.5em;
	font-family: Niconne, cursive;
}
#showcase p{
	text-align: center;
	font-size: 20px;
	color: white;
	font-family: Merriweather,cursive;
}

/*ABOUT US section starts*/

#about-us{
	text-align: center;
	background-color: #1a1b1e;
	color: #616370;
	color: #818390;
	font-size: 100%;
}
#about-us::before{
	display: block;
	content: "";
	margin-top: -25px;
	height: 25px;
	visibility: hidden;
	/* pointer-events: none;
	position: relative;*/
}
#about-us h1, #about-us h2{
	color: white;
}
#about-us h1::after{
	content: "";
	display: block;
	width: 13%;
	margin: auto;
	margin-top: 2px;
	height: 2px;
	background-color: #ff8c00;
}
#about-us img{
	width: 100%;
}
#about-us .container div{
	max-height: 500px;
}
.vision{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1em;
	padding: 20px 0;
}
.mission{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1em;
	padding: 10px 0 25px;
}
.vision div:first-child{
	grid-column-start: 2;
	margin: auto auto;
}
.vision div:nth-child(2){
	grid-column-start: 1;
	grid-row-start: 1;
}
.mission div:first-child{
	margin: auto auto;
}
/*.vision div:first-child{
	float: right;
	width: 50%;
	box-sizing: border-box;
}
.vision div:last-child{
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 10px;
}
.mission div:first-child{
	float: left;
	width: 50%;
	box-sizing: border-box;
}
.mission div:last-child{
	float: right;
	width: 50%;
	box-sizing: border-box;
	padding: 10px;
}*/

/*Q1 starts*/

.q1{
	background-color: #ff8c00;
	padding: 15px;
	text-align: center;
	font-size: 20px;
	color: white;
}
.q1-button{
	background-color: white;
	font-size: 14px;
	color: #ff8c00;
	border-radius: 4px;
	padding: 10px 20px;
	margin-bottom: 10px;
	transition: 400ms;
}
.q1 a{
	display: inline-block;
}
.q1-button:hover{
	background-color: #1a1b1e;
	color: white;
}

/*INITIATIVES STARTS*/

#initiatives{
	text-align: center;
	background-color: #1e1e1e;
}
#initiatives h1{
	color: #fff;
}
#initiatives h1::after{
	content: "";
	display: block;
	width: 13%;
	margin: auto;
	margin-top: 2px;
	height: 2px;
	background-color: #ff8c00;
}
#initiatives .glide{
	padding-bottom: 25px;
}
.llll{
	transform: perspective(1000px) rotateY(30deg);
}
.rrrr{
	transform: perspective(1000px) rotateY(-30deg);
}
.glide__slide--clone:nth-child(2){
	transform: perspective(1000px) rotateY(30deg);
}
.glide__slide--clone:nth-last-child(2){
	transform: perspective(1000px) rotateY(-30deg);
}
.card{
	position: relative;
	background-color: #e9e9e9;
	border-radius: 5px;
	height: 400px;
	width: 300px;
	margin: 15px auto;
	transition: 500ms;
	/*overflow: hidden;*/

}
.card-img{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 5px;
}
.card img{
	/*width: 100%;*/
	/*height: 300px;*/
	/*height: 170px;*/
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 100%;
	border-radius: 5px 5px 0 0;
}
.card_h2{
	position: absolute;
	top: 310px;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.3);
	margin: 0;
	padding: 10px;
	transition: all 1s;
	z-index: 1;
}
.card p{
	margin: 0;
	padding: 3px 7px 10px;
}
.card1{
	position: absolute;
	top: -10px;
	right: -10px;
	background-color: #ff8c00;
	border-radius: 5px;
	height: 400px;
	width: 300px;
	margin: auto;
	z-index: -1;
	transition: 500ms;
}
.card1 p{
	padding: 44px 10px 10px;
}
#initiatives .card:hover{
	top: -10px;
	right: -10px;
}
#initiatives .card:hover .card1{
	top: 10px;
	right: 10px;
	z-index: 0;
}
#initiatives .card:hover h2{
	/*top: 10px;*/
	/*right: 10px;*/
	/*left: -10px;*/
	/*bottom: -10px;*/
	/*z-index: 1;*/
	padding: 7px;
	transform: rotateX(360deg) translateX(-10px) translateY(-300px);
	background-color: transparent;
}
.card_hover{
	top: -10px;
	right: -10px;
}
.card1_hover{
	top: 10px;
	right: 10px;
	z-index: 0;
}
.h_hover{
	padding: 7px;
	transform: rotateX(360deg) translateX(-10px) translateY(-300px);
	background-color: transparent;
}


/*SERVICES section starts*/

#services{
	text-align: center;
	background-color: #26272c;
	color: #616370;
	color: #818390
}
#services h1, #services h2{
	color: white;
}
#services h1::after{
	content: "";
	display: block;
	width: 13%;
	margin: auto;
	margin-top: 2px;
	height: 2px;
	background-color: #ff8c00;
}
#services .intro p{
	margin-bottom: 35px;
}
#services i{
	color: #ff8c00;
}
.box-1 div, .box-2 div{
	float: left;
	width: 50%;
	box-sizing: border-box;
}
.box-1 p, .box-2 p{
	text-align: justify;
}
.box-1 div:first-child, .box-2 div:first-child{
	padding:0  20px 35px 0;
}
.box-1 div:nth-child(2), .box-2 div:nth-child(2){
	padding: 0 0 35px 20px;
}

/*Q2 starts*/

.q2{
	background-color: #ff8c00;
	padding: 15px 0;
	text-align: center;
	font-size: 20px;
	color: white;
}
.q2-button{
	background-color: white;
	font-size: 14px;
	color: #ff8c00;
	border-radius: 4px;
	padding: 10px 20px;
	margin-bottom: 10px;
	transition: 400ms;
}
.q2 a{
	display: inline-block;
}
.q2-button:hover{
	background-color: #1a1b1e;
	color: white;
}
/*.q2 .container div{
	width: 100%;
	height: 100%;
}*/
.q2 iframe{
	width: 56vw;
	height: 31.5vw;
	margin-bottom: 10px;
}
/*DONATE US STARTS*/

#donate-us{
	color: #616370;
	color: #818390;
	background-color: #26272c;
	background-color: #1a1b1e;
	text-align: center;
	padding: 10px 0;
}
#donate-us h1{
	margin: 0;
	padding: 5px 0;
	color: white;
}
#donate-us h1::after{
	content: "";
	display: block;
	width: 13%;
	margin: auto;
	margin-top: 2px;
	height: 2px;
	background-color: #ff8c00;
}
#donate-us .don-button{
	padding: 8px 20px;
	background-color: white;
	/*color: #616370;*/
	border: 1px #222 solid;
	border-radius: 13px;
	font-size: 15px;
	margin-bottom: 10px;
	cursor: pointer;
	transition: 400ms;
}
#donate-us .don-button:hover{
	padding: 8px 25px;
	background-color: red;
	color: white;
}

/*DONATE-US MODAL BOX STARTS*/

#don-modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	padding-top: 100px;
}
.don-modal-contents{
	width: 80%;
	margin: auto;
	background-color: #ddd;
	border: 1px #222 solid;
	border-radius: 7px;
	overflow: auto;
	max-height: 65%;
}
.don-modal-contents .container{
	max-width: 90%;
}
.don-modal-contents .container h4{
	margin: 10px 0 5px;
}
.don-modal-contents h3{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 100;
}
.don-modal-contents .close{
	position: absolute;
	top: 100px;
	right: 10%;
	float:right;
	color: #333;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
	/*transform: translateX(-13px);*/
	padding-right: 13px; /*instead of transform property*/
	/*z-index: 2;*/
	/*margin-right: 13px; */
}
.don-box1{
	background-color: #666;
}
.don-box1 h2{
	margin: 0;
	padding: 17px 0 5px;
	text-align: center;
}
.don-box1::after{
	content: "";
	display: block;
	width: 16%;
	margin: auto;
	height: 2px;
	background-color: #ff8c00;
}
.don-box2, .don-box3{
	float: left;
	width: 50%;
	box-sizing: border-box;
	text-align: center;
}
.don-box2 p{
	margin: 0 0 20px;
}

/*CONTACT US STARTS*/

#contact-us{
	text-align: center;
	padding: 10px 0 0;
	/*background-color: #616370;*/
}
#contact-us h1{
	margin: 0;
	padding: 5px 0 15px;
}
#contact-us h1::after{
	content: "";
	display: block;
	width: 13%;
	margin: auto;
	margin-top: 2px;
	height: 2px;
	background-color: #ff8c00;
}
.con-box1{
	float: left;
	width: 50%;
	box-sizing: border-box;
	text-align: center;
}
.con-box1 p{
	margin-top: 0;
}
.con-box2 a{
	padding: 0 10px;
}
.con-box2 a:first-child:hover{
	color: blue;
}
.con-box2 a:nth-child(2):hover{
	color: #fb3958;
}
.con-box2 a:last-child:hover{
	color: red;
}
#googleMap{
	width: 100%;
	height: 250px;
	margin: auto;
	box-sizing: border-box;
}
/*Contact Us Side Nav*/
.con-sidenav a{
	position: fixed;
	bottom: 90px;
	right: -90px;
	width: 100px;
	padding: 15px;
	text-decoration: none;
	color: white;
	background-color: red;
	border-radius: 5px 0 0 5px;
	transition: 0.3s;
	z-index: 2;
	/*cursor: pointer;*/
}
.con-sidenav a:hover{
	right:-10px;
}
/*FOOTER STARTS*/

footer{
	background-color: #1a1b1e;
	color: white;
	text-align: center;
	padding: 5px 0;
}

/*MEDIA QUERIES*/

@media(max-width: 1000px){
	/*For Youtube Video*/
	.q2 iframe{
		width: 64vw;
		height: 36vw;
	}
}
@media(max-width: 900px){
	/*For Youtube Video*/
	.q2 iframe{
		width: 72vw;
		height: 40.5vw;
	}
}
@media(max-width: 760px){
	/*For Nav bar*/
	.navbar{
		display: none;
	}
	.nav-button{
		display: block;
	}

	/*For About Us section*/
	#about-us img{
		width: 80%;
	}
	.vision p, .mission p{
		width: 90%;
		margin: auto;
	}
	.vision div:first-child{
		grid-column-start: 1;
		grid-column-end: 3;
		margin: auto auto;
	}
	.vision div:nth-child(2){
		grid-column-end: 3;
		grid-row-start: 2;
	}
	.mission div:first-child{
		grid-column-start: 1;
		grid-column-end: 3;
		margin: auto auto;
	}
	.mission div:nth-child(2){
		grid-column-start: 1;
		grid-column-end: 3;
	}

	/*Initiatives section*/
	/*.card, .card1{
		height: 44.4vw;
		width: 33.3vw;
	}*/

	/*For Sercices section*/
	.box-1 div, .box-2 div{
		float: none;
		width: 100%;
	}
	.box-1 div:first-child, .box-2 div:first-child{
		padding: 0 20px 35px;
	}
	.box-1 div:nth-child(2), .box-2 div:nth-child(2){
		padding: 0 20px 35px;
	}
}
@media(max-width: 600px){
	/*For Youtube Video*/
	.q2 iframe{
		width: 80vw;
		height: 45vw;
	}
}
@media(max-width: 500px){
	/*For Youtube Video*/
	/*.q2 iframe{
		height: 35vh;
	}*/

	/*Initiatives section*/
	/*.card, .card1{
		height: 80vw;
		width: 60vw;
	}*/

	/*For Donate Us modal box*/
	.don-box2, .don-box3{
		float: none;
		width: 100%
	}
}
@media(max-width: 450px){
	/*For CONTACT US section*/
	.con-box1{
		float: none;
		width: 100%;
	}
	.con-box2 p{
		margin-top: 20px;
	}

	/*For About Us section*/
	#about-us img{
		width: 90%;
	}

	/*For Showcase section*/
	#showcase h1{
		margin-top: 100px;
	}

	/*For Youtube Video*/
	/*.q2 iframe{
		height: 30vh;
	}*/
}
@media(max-width: 400px){
	/*For Jagrati Branding*/
	#branding{
		margin: 11px 0;
	}
	.branding1{
		float: none;
		display: block;
		margin-top: -4px;
		margin-left: 03px;
	}
	.logo{
		height: 70px;
	}

	/*Initiatives section*/
	#initiatives .container{
		max-width: 100%;
	}

	/*For SERVICES section*/
	.box-1 div:first-child, .box-2 div:first-child{
		padding: 0 10px 35px;
}
	.box-1 div:nth-child(2), .box-2 div:nth-child(2){
		padding: 0 10px 35px;
	}
}
@media(max-width: 350px){
	/*For About Us section*/
	#about-us img{
		width: 100%;
	}
	.vision p, .mission p{
		width: 95%;
	}
}


@media(min-width: 800px){
	/*For Donate Us modal box*/
	.don-modal-contents{
		width: 630px;
	}
	.don-modal-contents .close{
		right: 50%;
		transform: translateX(315px);
	}
}
@media(min-width: 900px){
	/*For CONTACT US section*/
	#googleMap{
		height: 300px;
	}
	.con-box1:first-child{
		padding-left: 40px;
	}
	.con-box1:nth-child(2){
		padding-right: 40px;
	}
}
@media(min-width: 1080px){
	/*For SHOWCASE section*/
	#showcase{
		background-size: cover;
		background-position-y: -175px;
	}
	/*For Contact Us section*/
	.con-box1:first-child{
		padding-left: 80px;
	}
	.con-box1:nth-child(2){
		padding-right: 80px;
	}
	#contact-us .container{
		width: 70%;
	}
}
