{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div class="py-3 mt-3 text-center">
        <h2 class="font-weight-bolder">Add new event</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 shadow-lg p-5 mb-5 bg-white rounded">
            <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="title">Event name</label>
                        <input name="title" type="text" class="form-control" id="title" required />
                        <div class="invalid-feedback">Event name is required.</div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="schedule">Schedule</label>
                        <input name="schedule" class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="schedule" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="venue">Venue</label>
                        <input name="venue" class="form-control" type="text" id="venue" required />
                        <div class="invalid-feedback">Please enter a venue of your event.</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description">Event Descripton</label>
                    <textarea name="description" class="form-control" id="description" rows="5" required/></textarea>
                </div>
                <div class="mb-3">
                    <label for="thumbnail">Add Image</label>
                    <input type="file" name="thumbnail" class="form-control-file" id="thumbnail" aria-describedby="fileHelp">
                    <small id="fileHelp" class="form-text text-muted">Images</small>
                </div>
                <hr class="mb-4" />
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}